/*** 
    различные слайдеры на сайте
 */

.carousel {

    &--camps {
        position: relative;
    }

    &__camps-arrows {

        position: absolute;
        bottom: 0;
        padding: 0 15px;
        color: #fff;
        bottom: 37px;
        z-index: 2;
        .px2rem(19);

        left: 0;
        right: 0;

        @media(min-width: 1100px) {
            padding: 0 47px;
            left: 150px;
            right: 150px;
        }

        @media(min-width: 1200px) {
            left: 200px;
            right: 200px;
        }

        @media(min-width: 1500px) {
            left: 350px;
            right: 350px;
        }

        @media(min-width: 1750px) {
            left: 470px;
            right: 470px;
        }

    }

    &__camps-prev,
    &__camps-next,
    &__camps-show-all {
        cursor: pointer;
        display: block;
        position: relative;
        // touch-action: none
    }

    &__camps-prev,
    &__camps-next {

        text-indent: -9999px;
        
        &::after {
            display: none;
        }
        
        @media(min-width: @sm) {

            text-indent: 0;

            &::after {
                display: block;
            }

        }

    }

    &__camps-show-all {

        display: none;

        @media(min-width: @md) {
            display: block;
        }

    }

    &__camps-control-one {

        overflow: hidden;

        &::before {

            content: '';
            position: absolute;
            top: 50%;
            margin-top: @c-camps-next-prev-size / -2;
            vertical-align: middle;
            display: inline-block;
            width: @c-camps-next-prev-size;
            height: @c-camps-next-prev-size;
            transition: transform @g-trans-duration ease-in-out;
            background: url('~img/svg/arrow.svg') 0 0 no-repeat;
            background-size: @c-camps-next-prev-size @c-camps-next-prev-size;

            .carousel__camps-prev & {
                left: 0;
                @media(min-width: @sm) {
                    left: -50px;
                }
                transform: rotate(-180deg);
            }

            .carousel__camps-next & {
                right: 0;
                @media(min-width: @sm) {
                    right: -50px;
                }
            }

        }

    }

    &__camps-prev {

        margin-left: 48px;

        &:hover,
        &:focus {

            .carousel__camps-control-one {

                &::before {
                    transform: rotate(-180deg) translateX(5px);
                }

            }

        }

    }

    &__camps-next {

        margin-right: 48px;

        &:hover,
        &:focus {

            .carousel__camps-control-one {

                &::before {
                    transform: translateX(5px);
                }

            }

        }

    }

    &__camp-show-all {}

}
