/*** 

 */ 

.books-list {

    border: 2px solid @color-grey-x-light;
    position: relative;
    padding: 38px 19%;
    font-weight: 300;
    .px2rem(@g-f-size--med);

    &__main-title {
        position: absolute;
        padding: 0 15px;
        top: 0;
        left: 50%;
        line-height: 1;
        white-space: nowrap;
        transform: translate(-50%, -55%);
        background: #fff;
        .px2rem(21px);
    }

    &__item {

        & + & {

            margin-top: 32px;

            @media(min-width: @md) { 
                margin-top: 48px;
            }

        }

    }

    &__book-img {

        position: relative;
        padding-bottom: 24px;
        background: url('~img/book_icon.png') 50% 100% no-repeat;

        img {
            display: block;
            margin: 0 auto;
            height: 130px;
            max-width: 100%;
            cursor: pointer;
        }

    }

    &__book-link {

        color: @color-grey--lighten;
        text-decoration: underline;
        font-weight: 300;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
        
    }

    &__all-link {
        
        display: block;
        font-weight: bold;
        color: @color-grey-xxx-light;
        text-decoration: underline;
        cursor: pointer;
        .px2rem(@g-f-size-x--med);        

        &:hover {
            text-decoration: none;
        }

    }

}