/*** 
    блок с данными ввиде таблицы
 */

.info-table {

    outline: 1px solid @color-green  !important;
    padding: 3.6% 3.1% 2.2%;
    width: 725px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: @sm) {
        max-width: 95%;
        padding: 3.6% 7.7% 2.2% 5.3%;
    }

    &--wide {

        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        padding: 3.8% 9% / 2 8% / 2;

        @media(min-width: @sm) {
            // max-width: 92%;
            padding: 3.8% * 2 9% 8%;
        }

    }

    &__row {

        flex-wrap: nowrap;

        .info-table & {

            &:not(:last-of-type) {

                .info-table__col {
                    border-bottom: 1px solid @color-green;
                }

            }

        }

    }

    &__col {

        padding: 15px 0 15px 10px;

        @media(min-width: @sm) {
            padding-left: 14px;
        }

        .info-table__row & {

            &:first-of-type {

                font-weight: bold;
                background: #fbfbfb;

                @media(min-width: @sm) {
                    font-weight: 400;
                    background: none;
                }

            }

            &:last-of-type {

                @media(min-width: @sm) {
                    margin-left: 22px;
                }

            }

        }

    }

    &__bottom-button {
        margin-top: auto;
    }

}