/*** 
    основной подвал сайта
 */

.footer {

    background: @color-blue-dark;
    color: #fff;
    .px2rem(@g-f-size--small);

    &__creator {

        display: inline-block;
        position: relative;
        padding-right: 3px;
        .px2rem(-3px, top);

        &:hover,
        &:focus {

            .link--decorate-out {
                &::after {
                    width: 0;
                }
            }

            .footer__creator-logo {

                svg {
                    display: none;

                    &:last-of-type {
                        display: inline-block
                    }
                }

            }

        }
    }

    &__creator-logo {

        display: inline-block;
        vertical-align: middle;

        svg {

            width: width('q-logo.svg');
            height: height('q-logo.svg');
            display: none;
            position: relative;
            top: -1px;

            &:first-of-type {
                display: inline-block
            }

        }

    }

}