/*** 
    блок дефолтной секции -- 
 */ 

.content-def-wrap {

    margin-top: 30px;

    @media(min-width: @sm) {
        margin-top: 35px;
    }

    @media(min-width: @lg) {
        margin-top: 45px;
    }

    @media(min-width: @xl) {
        margin-top: 60px;
    }    

}