/*** 

 */

.content-section {

    line-height: 1.9;
    font-weight: 300;

    &--size-middle {
        width: 890px;
        max-width: 100%;
        margin: 0 auto;
    }

    &--grey-bg {
        background: @color-grey-xx-light;
    }

    &--darken-grey-bg {
        background: #f8f8f8;
    }

    &--color-dark {
        color: @color-grey--x-dark;
    }

    &--color-ligthen {
        color: @color-grey--lighten;
    }

    &--left-decor {

        position: relative;
        padding-left: 20px;

        @media(min-width: @md) {
            padding-left: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            top: -2px;
            bottom: -2px;
            left: 0;
            border-left: 5px solid @color-green
        }

    }

    &--default {

        h1,h2,h3,h4,h5,h6 {
            line-height: normal;
        }

        h1 {
            font-size: 4.6rem;
        }

        h2 {
            font-size: 3.6rem;
        }

        h3 {
            font-size: 2.8rem;
        }

        h4 {
            font-size: 2.2rem;
        }

        h5 {
            font-size: 1.8rem;
        }

        h6 {
            font-size: 1.6rem;
        }
        
    }

}