/**
 *   вспомогательный блок 
 *   со свойством overfow
 */

.h-overflow {

    &--hidden {
        overflow: hidden;
    }

    &--scroll-both-axis {
        overflow: scroll;
    }

    &--auto {
        overflow: auto;
    }

    &--x-hidden {
        overflow-x: hidden;
    }

    &--y-hidden {
        overflow-y: hidden;
    }    

    &--x-auto {
        overflow-x: auto;
    }

    &--y-auto {
        overflow-y: auto;
    }    

    &--ellps {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
    }

}