@import '~@glidejs/glide/dist/css/glide.core.min.css';
@import '~@glidejs/glide/dist/css/glide.theme.min.css';

.glide__slides {
    backface-visibility: visible !important;
    padding: 0;
    margin: 0;
    cursor: default;
}

.glide__slide.glide__slide--camp:not(.glide__slide--active) {

    position: relative;

    &::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.42);
    }

}

.glide__slide {

    &--camp {
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 533px;
    }

}