@import './../variables/global.less';
@import './../variables/components.less';
@import (less) './../common/mixins/mixins.less';

@import (less) './../blocks/learning-benefits/learning-benefits.less';
@import '~@glidejs/glide/dist/css/glide.core.min.css';
@import '~@glidejs/glide/dist/css/glide.theme.min.css';

.glide {
    position: static;
}

.glide__slides {
    backface-visibility: visible !important;
    padding: 0;
    margin: 0;
    cursor: default;
}

.glide__slide {

    &--learning {

        text-align: center;

        img {
            max-width: 100%;
            height: auto !important;
            display: inline-block;
            vertical-align: top;
        }

    }

}