@import './../variables/global.less';
@import './../variables/components.less';
@import (less) './../common/mixins/mixins.less';

@import (less) './../blocks/news-list/news-list.less';
@import (less) './../blocks/books-list/books-list.less';
@import (less) './../blocks/exams/exams.less';
@import (less) './../blocks/cource-request-form/cource-request-form.less';
@import (less) './../blocks/cource-nav/cource-nav.less';
@import (less) './../blocks/corporate-training/corporate-training.less';

@import '~@glidejs/glide/dist/css/glide.core.min.css';
@import '~@glidejs/glide/dist/css/glide.theme.min.css';

.glide__slides {
    backface-visibility: visible !important;
    padding: 0;
    margin: 0;
    cursor: default;
}

.glide {

    &__bullet {

        width: 12px;
        height: 12px;
        box-shadow: none;
        margin: 0 8px;
        background: none;
        border: 2px solid transparent;

        &.glide__bullet--active {
            background: #fff;
        }

        &:not(.glide__bullet--active) {
            border: 2px solid #fff;
        }

    }

}

.home-camp-forms {

    margin: 0 auto;
    width: 615px;
    max-width: 100%;

    &__item {

        @media(min-width: @md) {

            &:first-of-type {
                padding-right: 7px;
            }

            &:last-of-type {
                padding-left: 7px;
            }
        }
        
    }

}