/*** 
    верхнее главное меню
 */

.main-nav {

    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -@c-menu-burger-width / 2;    

    // &.is-active {
    //     // position: fixed;
    //     // top: 0;
    //     // right: 0;
    //     // bottom: 0;
    //     // left: 0;
    //     // background: #fff;
    //     // z-index: 9999;
    //     // margin-top: 0;
    // }

    @media(min-width: @xxl-grid-with-indent) {
        padding-left: 0;
        padding-right: 0;
        max-width: @site-max-width;
        margin: 0 auto;
    }     

    @media(min-width: @lg) {
        position: static;
        top: auto;
        right: 0;
        margin-top: 0;
    }
    

    &__list {

        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;

        // &.is-active {
        //     // flex-direction: column;
        // }

        @media(min-width: @lg) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

    }

    &__burger-label {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
    }

    &__item {

        display: none;

        @media(min-width: @lg) {
            display: block;
        }

        &--burger {

            width: @c-menu-burger-width;
            cursor: pointer;
            height: 20px;

            @media(min-width: @lg) {
                height: auto;
            }

            &::before,
            &::after,
            .main-nav__burder::before {
                content: '';
                width: @c-menu-burger-width;
                display: block;
                height: 0;
                border-top: @c-menu-burger-item-height solid @color-green;
                transition: border-top-color @g-trans-duration
            }

            @media(hover: hover) {

                &:hover {

                    &::before,
                    &::after,
                    .main-nav__burder::before {
                        border-top-color: @color-grey--light
                    }

                }
                
            }

        }

    }

    &__burder {

        display: block;
        position: relative;
        height: 14px - @c-menu-burger-item-height;
        pointer-events: none;

        &::before {
            top: 50%;
            position: absolute;
            margin-top: -@c-menu-burger-item-height / 2;
            transition: border-top-color @g-trans-duration
        }

    }

    &__link {

        color: @color-grey;
        text-decoration: none;
        line-height: 1;
        cursor: pointer;
        .px2rem(@g-f-size-xx--med);

        &:hover {
            transition: color @g-trans-duration;
            text-decoration: none;
            color: @color-green
        }

    }

    // &__list {
    //     justify-content: space-between;
    //     list-style-type: none;
    //     padding: 0;
    //     margin: 0;
    // }

    // &__item {
    //     .px2rem(@g-f-size--small);
    // }

    // &__link {

    //     text-decoration: none;
    //     color: @color-grey;
    //     line-height: 1;
    //     position: relative;

    //     &::after {
    //         content: '';
    //         border-radius: 20px;
    //         transition: box-shadow @g-trans-duration ease-in-out;
    //         visibility: hidden;
    //         pointer-events: none;
    //         position: absolute;
    //         left: -10px;
    //         right: -10px;
    //         top: -4px;
    //         bottom: -4px;
    //     }

    //     &:hover,
    //     &:focus,
    //     &.is-active {

    //         color: inherit;

    //         &::after {
    //             visibility: visible;
    //             box-shadow: 0 0 0 1px @color-green;
    //         }

    //     }

    // }

}