extends ../layouts/main
block append title 
    | Главная страница

block main

    main
        //- ie min-height flexbox bug
        div.row.row--xs-column
            .section-photo.section-photo--medium.section-photo--with-dark-bg.row.text--center.p15-l.p15-r.h-text--upper(data-bg=`${require('camps2.jpg')}`).lazyload
                .h-text--line-x-small.s-title--no-mp
                    .p10-t.section-photo__inner
                        h1 Лучшее лето с Лингва Сити в Британской академии
                        .h-text--light.h-text--size-huge.h-text--none.p15-t
                            | Детский проект English&Fun для ребят 6-12 лет. <br>
                            | Впервые специальный подростковый проект для ребят 13-16 лет City English.                    

        .grid.grid--container.h-text--size-med
            .text--center.s-title--size-huge.p30-t.p40-t--lg.s-title--no-mp
                h2
                    | Открыта продажа путёвок на лето 2019 года. Самая низкая цена <br>
                    | в апереле. Стоимость 1 смены – 9 990 рублей    
            .content-section.content-section--size-middle.p30-t
                | Городской лагерь от Lingua City – это яркие и интенсивные 2 недели, богатейший опыт обучения, творчества и погружения в английский язык. Это место, где дети общаются и играют, участвуют в проектах, развивают воображение и полезные социальные навыки. И всё это на английском языке.

            .content-section.p30-t.p30-b--lg.text--center
                div
                    | <strong> Каждый месяц цена за 1 смену будет увеличиваться </strong>
                div
                    span.p35-r Февраль - 7 990 руб.           
                    span.p35-r Март - 8 990 руб.           
                    span.p35-r Апрель - 9 990 руб.             
                    span.p35-r Май - 10 990 руб.           
                .p40-t.p10-b--lg
                    button.btn
                        span.btn__text Подать заявку
                .content-def-wrap
                    .title.title--huge
                        | Расписание
                    .info-table.m10-t.h-text--line-med.text--left
                        .title.title--xx-med
                            | Детский проект 8-12 лет English & Fun
                        .h-text--bold.p10-t.p20-b
                            | <b>Примерное расписание дня с 9:15 до 16:30, возможно посещение неполного дня с 9:15 до 13:00. Стоимость по запросу.</b>
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 9:15 - 9:30
                            .col.col--sm-8.info-table__col
                                | Встреча детей, начинаем новый день!
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 9:30 - 10:00
                            .col.col--sm-8.info-table__col
                                | Утренняя ассамблея (сопровождается изучением песен, танцев, речевок и игр на английском языке)           
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 10:00 - 10:30 
                            .col.col--sm-8.info-table__col
                                | Завтрак
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 10:45 - 12:30
                            .col.col--sm-8.info-table__col
                                | Занятия: английский язык, творческая мастерская, изучение школьных предметов на английском (география, биология. история и т.д.)
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 13:00  
                            .col.col--sm-8.info-table__col
                                | Обед   
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 14:00 - 16:00  
                            .col.col--sm-8.info-table__col
                                | Прогулки, Экскурсии, мастер-классы, проекты, Практика английского    
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 16:00 
                            .col.col--sm-8.info-table__col
                                | Полдник       
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 16:15 - 16:30
                            .col.col--sm-8.info-table__col
                                | Рефлексия: подведение итогов дня, пока-пока)       

                .p25-t
                    .info-table.m10-t.h-text--line-med.text--left
                        .title.title--xx-med
                            | Подростковый проект 13-16 лет City English
                        .h-text--bold.p10-t.p20-b
                            | <b>Примерное расписание дня с 10:15 до 16:30, возможно посещение неполного дня с 10:15 до 13:30. Стоимость по запросу.</b>
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 10:15 - 10:30
                            .col.col--sm-8.info-table__col
                                | Встреча ребят, начинаем новый день!
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 10:30 - 10.45
                            .col.col--sm-8.info-table__col
                                | Утренний мозговой штурм и стратегическое планирование
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 10:45 - 11:00
                            .col.col--sm-8.info-table__col
                                | Ти тайм
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 11:00-13:00
                            .col.col--sm-8.info-table__col
                                | Занятия: английский язык, творческие мастерские, изучение школьных предметов на английском (география, биология. история и т.д.), профориентирование на английском языке
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 13:30  
                            .col.col--sm-8.info-table__col
                                | Обед   
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 14:00 -16:00  
                            .col.col--sm-8.info-table__col
                                | Прогулки, Экскурсии, мастер-классы, проекты, Практика английского языка
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 16:00 
                            .col.col--sm-8.info-table__col
                                | Ти тайм       
                        .row--sm.info-table__row
                            .col.col--sm-4.info-table__col.h-text--bold 16:15 - 16:30
                            .col.col--sm-8.info-table__col
                                | Рефлексия: подведение итогов дня, до встречи)


        .content-section.content-section--grey-bg.h-text--size-med.content-def-wrap
            .grid.grid--container.p20-t.p40-t--md.p30-b.p60-b--lg
                .content-section.content-section--size-middle
                    .title.title--huge.text--center
                        | О лагере            
                    .row--lg.p10-t.p35-t--lg
                        .col.col--lg-6.
                            Если Вы хотите улучшить Ваши знания английского языка, то этот курс предназначен специально для Вас.

                            <p>General English Course рассчитан на 6 месяцев при интенсивности занятий 2 раза в неделю по 1 часу 30 минут. </p>

                            Преподаватели с международной сертификацией проводят занятия в дружеской атмосфере, руководствуясь профессиональным опытом и 
                            используя множество практических примеров для улучшения понимания и освоения материала.

                            <p>На занятиях Вы осваиваете все аспекты изучения языка: грамматику, словарный запас, 
                            произношение, разговорную речь, восприятие на слух, чтение и письмо.</p>

                        .col.col--lg-6.p60-l--lg.p20-t.p0-t--lg.
                            Если Вы уже изучали английский язык, то перед началом прохождения Курса Вам нужно будет подойти в наш офис и пройти небольшой письменный тест и устное собеседование, чтоб мы могли подобрать подходящую для Вас группу.

                            <p>А может быть Вы хотите подготовиться и сдать Кембриджский экзамен?! После успешного завершения курса General English и небольшой подготовки Вы сможете сдать Кембриджский экзамен и получить международный сертификат, признанный работодателями и ВУЗами во всем мире.</p>

                            Если Вы знаете, какой у Вас уровень владения языком, то можете выбрать для себя подходящую группу и записаться. 

            .grid.grid--container.p40-t.p20-b.h-text--size-med
                .content-section.content-section--size-middle
                    .title.title--huge.text--center
                        | Организация обучения
                    .row.p20-t.p45-t--md
                        .col.col--md-6
                            ul.list.list--round-typed
                                li.list__item 40 часов английского
                                li.list__item Общение с носителями языка
                                li.list__item Увлекательные культурно-спортивные мероприятия.
                                li.list__item Опытные, внимательные и жизнерадостные преподаватели и руководители группы.
                        .col.col--md-6.p60-l--md
                            ul.list.list--round-typed
                                li.list__item Комфортное проживание.
                                li.list__item Страховка
                                li.list__item Трансфер
                                li.list__item Фирменные подарки                    

        
            .content-section.content-section--grey-bg.h-text--size-med.content-def-wrap.p20-b
                .grid.grid--container.p20-t.p40-t--md
                    .content-section.content-section--size-middle
                        .title.title--huge.text--center
                            | В программе            
                        .row--md.h-text--upper.h-text--bold.p20-t.p45-t--md
                            .col.col--md-6
                                ul.list.list--round-typed
                                    li.list__item Игры на знакомство
                                    li.list__item Ролевые игры
                                    li.list__item Творческие мастерские
                            .col.col--md-6.p60-l--md
                                ul.list.list--round-typed
                                    li.list__item вечерние огоньки
                                    li.list__item спортивные соревнования <br> и подвижные игры на свежем воздухе
                                    li.list__item шоу талантов        

        .glide.carousel.carousel--camps

            div(class="glide__track" data-glide-el="track")
                ul.glide__slides.js-camp-gallery
                    each sliderItem, index in Array(10)
                        li.glide__slide.glide__slide--camp(data-bg=`${require('1.jpg')}`).lazyload
                            a(href=`${require('1.jpg')}`)
                                img(class="d-none" data-src=`${require('1.jpg')}`).lazyload
            div.carousel.carousel__camps-arrows
                .row.row--justify-between.row--no-wrap(data-glide-el="controls")
                    div(data-glide-dir="<" class="carousel__camps-prev link link--white link--h-white link--decorate-out") 
                        span.carousel__camps-control-one Предыдущее фото
                    div(class="carousel__camps-show-all link link--white link--h-white link--decorate-out") Все фото
                    div(data-glide-dir=">" class="carousel__camps-next link link--white link--h-white link--decorate-out") 
                        span.carousel__camps-control-one Следующее фото

        //- reviews

        .grid.grid--container.p20-t.p50-t--lg.p30-b.p60-b--lg.h-text--size-med
            .content-section.content-section--size-middle
                .title.title--huge.text--center
                    | Что говорят о лагере

                //- reviews list
                .p20-t.p45-t--lg
                    include ./../components/reviews        
                    .p40-t.text--center
                        button.btn.btn--small-lr-indent Узнать подробнее                     