extends ../layouts/main
block append title 
    | Корпоративное обучение

    -
        const learningList = [
            'Согласование условий обучения.',
            'Бесплатное тестирование сотрудников. Формирование учебных групп.',
            'Заключение договора. Разработка программы обучения.',
            'Мониторинг качества обучения: промежуточное тестирование.',
            'Предоставление регулярных отчетов руководству компании по посещаемости и результатам обучения сотрудников.',
            'Окончание обучения. Итоговое тестирование и устное собеседование. Выдача сертификатов об окончании курса.'
        ]

        const learningBenefits = [
            'Согласование условий обучения.',
            'Бесплатное пробное занятие',
            'Удобное время занятий с 8:00 до 21:00',
            'Персональный менеджер',
            'Профессиональные преподаватели с международной сертификацией',
            'Учет посещаемости и предоставление отчётности',
            'Постоянный методический контроль',
            'Групповые и индивидуальные занятия'
        ];

block main

    main

        //- ie min-height flexbox bug
        div.row.row--xs-column
            .section-photo.section-photo--medium.section-photo--with-dark-bg.row.text--center.p15-l.p15-r.h-text--upper(data-bg=`${require('corp.jpg')}`).lazyload
                .h-text--line-x-small.s-title--no-mp
                    .section-photo__inner
                        h1 Корпоративным клиентам

        .grid.grid--container.h-text--size-med
            .content-def-wrap
                .text--center.s-title--size-huge.s-title--no-mp
                    h2 
                        | Корпоративные курсы  
            .content-section.p35-t.
                Корпоративные курсы английского языка давно стали нормой для успешных компаний, работающих на международном
                рынке. Любая организация, которая взаимодействует с иностранными клиентами или планирует выход на рынки других
                стран, прекрасно осознает необходимость инвестирования в обучение своего персонала. И одним из первоочередных
                направлений обучения является повышение уровня владения английским языком.
                Языковой центр «Лингва Сити» предлагает курсы по изучению иностранных языков для Вашей организации. Вы можете
                выбрать курс общего английского языка, бизнес-курс или мы разработаем курс специально для Вас

            .row--md
                .col.col--md-6.row.p20-r--md
                    .content-def-wrap.info-table.info-table--wide.row.row--xs-column
                        div
                            .title.title--huge.text--center General English      
                            .content-section.p15-t.h-text--line-med.text--left
                                div.
                                    Курс General English - это общий разговорный курс, разработанный по коммуникативной методике
                                    с интегрированной подготовкой к международным
                                    Кембриджским экзаменам. Курс General English
                                    включает в себя работу над основными частями
                                    английского языка: чтение, письмо, грамматика,
                                    аудирование и говорение. Курс General English 
                                    включает активную работу с аудио и видео. Пройденный материал закрепляется множеством 
                                    интересных заданий, игр и презентаций. Курс 
                                    содержит увлекательные тексты
                                    и интригующие иллюстрации, побуждающие
                                    к устным высказываниям, готовит слушателей
                                    к эффективному общению в реальном мире.
                        .p15-t.p35-t--md.info-table__bottom-button
                            button.btn.btn--w100.show-popup(data-popup-window="#p-2") Записаться
                .col.col--md-6.row.p20-l--md
                    .content-def-wrap.info-table.info-table--wide.row.row--xs-column
                        div
                            .title.title--huge.text--center Business English
                            .content-section.p15-t.h-text--line-med.text--left
                                div.
                                    Курс Business English – это инновационный курс для сотрудников компаний, который тематически сочетает теорию бизнеса и бизнес-практику, обучая деловому английскому с ясными и измеряемыми результатами. Лексический отбор основан
                                    на данных компьютерного корпуса делового английского, что гарантирует эффективное общение в глобальном мире. Во время курса студенты смогут познакомиться с содержательными советами экспертов и заданиями на анализ реальных ситуаций
                                    (case studies). Особое внимание в курсе Business English уделено правилам ведения деловой переписки, проведению переговоров и ведению презентаций.                              
                        .p15-t.p35-t--md.info-table__bottom-button
                            button.btn.btn--w100.show-popup(data-popup-window="#p-2") Записаться   


            .content-def-wrap                        
                .title.title--huge.text--center
                    | Как мы обучаем
                .content-section.p15-t.
                    Занятия проходят по международным пособиям Кембриджского издательства. Любой желающий может принять участи
                    в сессии Международных Кембриджских экзаменов и подтвердить знания английского языка на международном уровне.

            .p30-t.p45-t--md.content-section.p10-b
                ul.learning-stages
                    each listItem in learningList 
                        li.learning-stages__item
                            span!=listItem
                .p20-t.text--center
                    button.btn
                        .btn__download 
                            | Скачать <span class="d-none d-inline-block--sm">коммерческое</span> предложение   

            .content-def-wrap
                .title.title--huge.text--center
                    | Преимущества обучения у нас
                .content-section.content-section--size-middle.p30-t.p50-t--md
                    ul.learning-benefits
                        each learningBenefitItem in learningBenefits 
                            li.learning-benefits__item
                                span!=learningBenefitItem


            .content-def-wrap.p60-b
                .title.title--huge.text--center
                    | У нас учаться
                .content-def-wrap.p60-l.p60-r.h-position--relative
                    .glide.glide--learning
                        .glide__track(data-glide-el="track")
                            .glide__slides
                                each sliderItem in [0,1,2,3]
                                    li.glide__slide.glide__slide--learning
                                        img(data-src=require('l-3' + '.jpg') class="lazyload")
                        .slider-controls.slider-controls--learning(data-glide-el="controls")
                            .slider-controls__prev(data-glide-dir="<") 
                                <img inline src="src/assets/img/svg/arrow--green.svg" alt="" />
                            .slider-controls__next(data-glide-dir=">")
                                <img inline src="src/assets/img/svg/arrow--green.svg" alt="" /> 