extends ../layouts/main
block append title 
    | Главная страница

block main

    main
        //- ie min-height flexbox bug
        div.row.row--xs-column
            .section-photo.section-photo--small.row.text--center.p15-l--lg.p15-r--lg.h-text--upper(data-bg=`${require('english_course.jpg')}`).lazyload
                .grid.grid--container.h-text--line-small.s-title--no-mp.p10-t--lg
                    img(src=require('london.png')  alt="London")
                    .p10-t
                        h1 Курс английского для начальной школы <br> по Кембриджской программе KIds Box

        .grid.grid--container
            .info-table.m25-t.m25-b.m45-t--md.m45-b--md
                .row--sm.info-table__row
                    .col.col--sm-4.info-table__col Стоимость
                    .col.col--sm-8.info-table__col
                        | <strong>От 2000 р/мес. </strong> в группе (в зависимости от тарифа)
                .row--sm.info-table__row
                    .col.col--sm-4.info-table__col Курсы
                    .col.col--sm-8.info-table__col
                        | <strong>8 месяцев</strong> 2-3 раза в неделю по 60 минут               
                .row--sm.info-table__row
                    .col.col--sm-4.info-table__col Международный уровень знаний <strong><a href="#">(CEFR)</a></strong>
                    .col.col--sm-8.info-table__col
                        | <strong>A1-A2</strong> (начальный—базовый)
                .row--sm.info-table__row
                    .col.col--sm-4.info-table__col Кембриджские экзамены
                    .col.col--sm-8.info-table__col
                        | <strong><a href="#" title="">YLE Starters,</a></strong>
                        | <strong><a href="#" title="">Movers,</a></strong>
                        | <strong><a href="#" title="">Flyers</a></strong>
                .row--sm.info-table__row
                    .col.col--sm-4.info-table__col Контакты
                    .col.col--sm-8.info-table__col
                        | <strong>91-21-82</strong>

            .text--center.p10-b.p40-b--xl
                button.btn.show-popup(data-popup-window="#p-2")
                    span.btn__text Подать заявку

            .title.title--huge.content-def-wrap.
                Курс английского для начальной школы <br>
                по Кембриджской программе Kids Box       

            div.content-section.p15-t.
                Ребенок овладевает иностранными языками легче, чем взрослый. Каждый возраст характеризуется своим типом психических 
                процессов на данном этапе. Так, английский для детей 7 лет учитывает переход от игровой деятельности к учебной, 
                но тем не менее роль игры остается ведущей. Английский для детей 8 лет и английский для детей 9 лет ведется по аналогии, 
                но с каждым годом игровые приоритеты смещаются, уступая осознанно-структурированному обучению.             

            div.content-def-wrap
                .row.row--xs-top
                    .col.col--xs.content-section.content-section--left-decor.p60-r--md
                        div.p30-r--md
                            .title.title--huge.h-text--line-def Почему родители выбирают Kids box                        
                            div.p15-t Это образовательный курс, развивающий воображение, основанный на создании поделок и проектов. Основной целью курса является углубленное изучение языка в естественных условиях, то есть в условиях максимально полного погружения в языковое пространство. Мы используем коммуникативную методику и на уроках 80% времени применяем только английский язык.                
                    .col.col--xs-auto.d-none.d-block--md
                        img(src=require('eng-parents.jpg')  alt="Почему родители выбирают Kids box")

            div.content-def-wrap                        
                .title.title--huge.
                    Преподаватели      
                div.content-section.p15-t.
                    Все преподаватели Языкового центра «Лингва Сити» имеют профильное лингвистическое образование, международную  <br>
                    сертификацию, проходят методический контроль и круглогодичное обучение и соответствуют 
                    самым высоким единым <br> стандартам качества обучения.          

            div.content-def-wrap                        
                .title.title--huge.
                    Процесс обучения    
                div.content-section.p15-t.
                    Курс одинаково подходит тем, кто только приступил к изучению языка, и тем, кто изучал его ранее. 
                    Занятия включают подготовку к международным Кембриджским экзаменам. Ваши дети смогут получить Кембриджские 
                    сертификаты <a href="#" title="" class="h-text--bold">YLE (Starters /Movers / Flyers).</a>

            div.content-def-wrap                        
                .title.title--huge.
                    Как проходят занятия 
                div.content-section.p15-t.
                    Обучение проходит в группах от 5 до 9 человек и индивидуально. Благодаря квалифицированным преподавателям английский
                    с раннего возраста тренирует коммуникативные навыки и гибкость мышления.                        

            div.content-def-wrap                        
                .title.title--huge.
                    Бесплатное тестирование и консультация
                div.content-section.p15-t.
                    На бесплатном тестировании мы определим уровень, с которого нужно начать обучение, дадим исчерпывающую консультацию и составим маршрут обучения.

            div.content-def-wrap                        
                .title.title--huge.
                    Следите за прогрессом ребёнка
                div.content-section.p15-t.
                    Чтобы своевременно узнавать об успехах и сложностях в учёбе ребёнка, поддерживайте связь с центром и пользуйтесь нашей общей системой. Ещё вы можете договориться и пообщаться с преподавателем и присутствовать на открытом уроке 2 раза в год.

            div.content-def-wrap                        
                .title.title--huge.
                    Сертификаты
                div.content-section.p15-t.
                    По окончании выдается сертификат центра с указанием уровня знания, пройденной программы и количеством учебных часов. Также в ходе обучения мы готовим к сдаче международных Кембриджских экзаменов. Вы сможете получить престижный английский сертификат, не выезжая из Ижевска.

            div.content-def-wrap.p10-b                        
                .title.title--huge.
                    Как записаться
                div.content-section.p15-t.
                    Позвоните по телефону <strong>91-21-82</strong> или заполните форму заявки ниже, и мы сами позвоним,
                    чтобы пригласить вас с ребёнком на <br> тестирование и консультацию, а также запишем на первое бесплатное пробное занятие. 
                    Следите за новостями и <br> задавайте вопросы в нашей <strong><a href="#" title="">группе ВКонтакте.</a></strong>

        .sing-up-to-lesson.p35-t.p35-b.p45-t--md.p55-b--md.content-def-wrap
            .grid.grid--container.p15-l.p15-r.p55-l--md.p55-r--md.text--center
                .title.title--xxx-med Записаться на бесплатный урок
                .row--md.row--md-center.p35-t.p35-b
                    .col.col--md-4.p25-r--md
                        input(type="text" name="fio" class="sing-up-to-lesson__input" placeholder="Имя")
                    .col.col--md-4.p30-t.p0-t--md.p25-r--md
                        input(type="email" name="email" class="sing-up-to-lesson__input" placeholder="E-mail")
                    .col.col--md-4.p30-t.p0-t--md
                        input(type="text" name="phone" class="sing-up-to-lesson__input" placeholder="Телефон")

                .text--center
                    button.btn.btn--white
                        span.btn__text Записаться

