extends ../layouts/main
block append title 
    | Главная страница

    - 
        const examsList = ['Экзамены для школьников', 
            'Экзамены для взрослых', 
            'Экзамены для учителей'];

        const courceLangList = ['Немецкий язык',
            'Испанский язык',
            'Французский язык',
            'Японский язык']

block main

    main

        .section-photo.section-photo--big.section-photo--with-dark-bg.p15-l--md.p15-r--md(data-bg=`${require('hometop_back_2_1920.jpg')}`).lazyload
            .grid.grid--container.s-title--no-mp.s-title--size-xx-huge
                .section-photo__inner.p15-t.p30-t--sm.p60-t--lg
                    h1 15 лет мы эффективно обучаем Вас<br> иностранным языкам, готовим<br> к экзаменам и отправляем за рубеж
                    .m30-t.m60-t--lg
                        button.btn.btn--white.btn--huge.show-popup(data-popup-window="#p-2")
                            span(class="btn__text") Бесплатный урок                    

        //- courses list

        .content-def-wrap.p30-b.p60-b--lg
            .grid.grid--container 
                .title.title--huge.text--center Курсы
                .p15-t.p30-t--sm.p50-t--lg
                    .row.row--xs-column-reverse.row--lg-row.row--justify-between

                        .col.col--lg-8.h-text--size-med.h-text--light

                            .title.title--xx-med.h-text--line-def Английский язык

                            .row--md.p25-t
                                .col.col--lg-6
                                    ul.list.list--round-typed
                                        li.list__item 
                                            a(href="#" title="" class="link link--grey-darken link--h-grey-darken link--decorate-out") Английский для дошкольников
                                        li.list__item 
                                            a(href="#" title="" class="link link--grey-darken link--h-grey-darken link--decorate-out") Английский для школьников
                                .col.col--lg-6
                                    ul.list.list--round-typed
                                        li.list__item 
                                            a(href="#" title="" class="link link--grey-darken link--h-grey-darken link--decorate-out") Английский для взрослых
                                        li.list__item 
                                            a(href="#" title="" class="link link--grey-darken link--h-grey-darken link--decorate-out") Подготовка к ЕГЭ                         

                            .m10-t
                                button.btn.btn--small-lr-indent.show-popup(data-popup-window="#p-1")
                                    span.btn__text Отправить заявку                                        

                        .col.col--lg-auto.p30-l--lg
                            ul.cource-nav.text--center.text--lg-left
                                li.cource-nav__item.d-none--lg
                                    a(href="#" title="" class="link link--grey-darken link--h-grey-darken link--decorate-out") Английский язык
                                each lang in courceLangList
                                    li.cource-nav__item
                                        a(href="#" title="" class="link link--grey-darken link--h-grey-darken link--decorate-out")!=lang


        //- cource request form

        .content-section.content-section--darken-grey-bg.p30-b.p60-b--lg.p30-t.p60-t--lg.p15-l.p0-l--lg.p15-r.p0-r--lg
            .grid.grid--container.cource-request-form.p15-t.p40-t--lg.p25-b.50-b--lg
        
                .cource-request-form__inner.text--center
                    .title.title--huge Оставьте заявку на любой курс
                    .title.title--xx-med.h-text--line-x-med.
                        Мы перезвоним вам, расскажем подробнее о курсе, который <br>
                        вам понравился, и пригласим на бесплатное тестирование    

                    .p15-t.forms.cource-request-form__wrap
                        form(action="" method="" autocomplete="off")
                            div.forms__dflt-item
                                input(type="text" name="name" class="forms__control forms__control--dark forms__control--size-100" placeholder="Ваше имя")                
                            div.forms__dflt-item
                                input(type="text" name="phone" class="forms__control forms__control--dark forms__control--size-100" placeholder="Номер телефона")                
                            div.forms__dflt-item
                                textarea(name="comment" class="forms__control forms__control--dark forms__control--size-100" placeholder="Ваши пожелания и вопросы")
                            div.forms__dflt-item--submit
                                button.btn.btn--small-lr-indent.forms__control--size-100(type="submit") Отправить заявку

                    .p20-t
                        input(type="checkbox" value="1" checked id="request-confirm" class="forms__control-checkbox") 
                        label(for="request-confirm").h-text--normal Я согласен с 
                        |
                        |
                        <a class="link link--grey-lighten link--h-grey-lighten link--decorate-out h-text--line-def h-text--normal" href="/privacy/" title="" target="_blank" rel="nofollow noopener">Политикой конфиденциальности</a>
                    .p10-t.h-text--color-grey--light.h-text--size-med Мы не будем высылать вам рекламу, честное слово

        //- exams

        .grid.grid--container.p10-b--lg
            .content-def-wrap.p60-b--lg
                .s-title--size-huge.text--center
                    h2 Экзамены
                .content-def-wrap.content-section.exams
                    .row--md.row--justify-between.exams__wrap
                        .col.col--lg-auto
                            ul.exams__list
                                each exam in examsList
                                    li.exams__list-item
                                        a(href="#" title="" class="link link--grey-lighten link--h-grey-lighten link--decorate-out")!=exam
                        .col.col--lg.exams__cambridge.forms
                            .exams__cambridge-form
                                form(action="" method="" autocomplete="off")
                                    .title.exams__cambridge-title Ведется набор на подготовку к Кембриджским экзаменам, ЕГЭ и ОГЭ
                                    .title.title--xx-med Оставьте вашу заявку и мы вам перезвоним
                                    .p15-t
                                        input(type="text" name="phone" class="forms__control exams__phone-field" placeholder="Телефон")
                                    .p15-t
                                        button.btn.btn--white.btn--small-lr-indent(type="submit")
                                            span.btn__text Отправить заявку
                                    .p20-t
                                        input(type="checkbox" value="1" checked id="request-confirm-3" class="forms__control-checkbox") 
                                        label(for="request-confirm-3").h-text--normal Я согласен с 
                                        |
                                        |
                                        <a class="link link--white link--h--white link--decorate-out h-text--line-def" href="/privacy/" title="" target="_blank" rel="nofollow noopener">Политикой конфиденциальности</a>                                                                            


        //- home camps ${require('index-camps-1920.jpg')}

        .section-photo.section-photo--big.row.p15-l--md.p15-r--md(data-bg=`${require('index-camps-1920.jpg')}`).lazyload            
            .grid.grid--container.s-title--no-mp.text--center.h-text--color-black.p20-t.p40-t--lg.p20-b.p45-b--lg
                form(action="" method="" autocomplete="off")
                    .s-title--size-huge.s-title--extra-bold
                        h2 Зимний языковой лагерь Мир Чудес Алисы

                    .title.title--xx-med.p10-t.h-text--line-huge.h-text--normal.
                        Языковой лагерь в традициях лучших Британских пансионов для ребят от 7 до 16 лет. <br>
                        Оставьте заявку на зимний лагерь!

                    .row--md.forms.p20-t.home-camp-forms
                        .col.col--md-6.home-camp-forms__item
                            input(type="text" name="name" class="forms__control forms__control--size-100" placeholder="Имя")
                        .col.col--md-6.home-camp-forms__item.p10-t.p0-t--md
                            input(type="text" name="phone" class="forms__control forms__control--size-100" placeholder="Телефон")

                    .p15-t
                        button.btn.btn--small-lr-indent(type="submit")
                            span.btn__text Отправить заявку

                    .p20-t.p30-t--lg
                        input(type="checkbox" value="1" checked id="request-confirm-2" class="forms__control-checkbox")
                        label(for="request-confirm-2").h-text--normal Я согласен с 
                        |
                        |
                        <a class="link link--grey-lighten link--h-grey-lighten link--decorate-out" href="/privacy/" title="" target="_blank" rel="nofollow noopener">Политикой конфиденциальности</a>

                    .h-text--size-med.p15-t
                        .p15.h-text--color-grey--light
                            | Мы не будем высылать вам рекламу, честное слово
                        .h-text--size-x-med
                            span.link.link--grey-lighten.link--h-grey-lighten.link--decorate-out Подбробнеео о лагере

        //- reviews

        .grid.grid--container.p20-t.p50-t--lg.p30-b.p60-b--lg.h-text--size-med
            .content-section.content-section--size-middle
                .title.title--huge.text--center
                    | Что говорят о нас

                //- reviews list
                .p20-t.p45-t--lg
                    include ./../components/reviews         


        //- coorporate training

        .corporate-training.p30-t.p60-t--lg.p30-t.p35-b--lg 
            .grid.grid--container.text--center
                .glide.glide--coorporate
                    .p25-b.p45-b--lg(class="glide__track" data-glide-el="track")
                        .glide__slides
                            .glide__slide
                                .corporate-training__item
                                    .title.title--huge.title--extra-bold Корпоративное обучение
                                    .title.title--xx-med.h-text--line-huge.h-text--normal.p10-t.
                                        Инвестиция в главный ресурс вашей компании с целью расширения вашего бизнеса. <br>
                                        Наша цель: Максимально быстро обучить ваших сотрудников английскому согласно 
                                    .p20-t.p55-b
                                        button(class="btn btn--white btn--small-lr-indent show-popup" data-popup-window="#p-1")
                                            span.btn__text Отправить заявку
                            .glide__slide
                                .corporate-training__item
                                    .title.title--huge.title--extra-bold Корпоративное обучение
                                    .title.title--xx-med.h-text--line-huge.h-text--normal.p10-t.
                                        Инвестиция в главный ресурс вашей компании с целью расширения вашего бизнеса. <br>
                                        Наша цель: Максимально быстро обучить ваших сотрудников английскому согласно 
                                    .p20-t.p55-b
                                        button(class="btn btn--white btn--small-lr-indent show-popup" data-popup-window="#p-1")
                                            span.btn__text Отправить заявку

                    .glide__bullets(data-glide-el="controls[nav]")
                        button(class="glide__bullet" data-glide-dir="=0")
                        button(class="glide__bullet" data-glide-dir="=1")


        //-

        .section-photo.section-photo--big.section-photo--with-dark-bg.row.p15-l--md.p15-r--md(data-bg=`${require('obuchenie.jpg')}`).lazyload
            .grid.grid--container.h-text--line-x-small.s-title--no-mp
                .section-photo__inner(style="margin-top: -15px;").p30-t.p30-b
                    .title.title--xx-huge
                        | Мы учим вас иностранным языкам, <br> готовим к экзаменам и выдаём <br> международные сертификаты
                    .p15-t.h-text--size-xx--med.h-text--line-med.
                        Я уже долгое время занимаюсь в «Лингва Сити» и очень <br> довольна результатом. Мой уровень английского значительно                             
                    .p30-t
                        button(class="btn btn--white show-popup" data-popup-window="#p-1")
                            span(class="btn__text") Подробнее


        //-

        .grid.grid--container.p30-b.p60-b--lg.h-text--size-med.show-popup(data-popup-window="#p-1")
            .content-section.content-section--color-ligthen
                .p30-t.p60-t--lg
                    .title.title--huge.text--center.p15-b.p30-b--md
                        | Новости
                    .row.row--justify-between.p15-l--md.p15-r--md
                        .col.col--xs-12.col--md-6
                            .news-list
                                each news in [1,2,4,5]
                                    .news-list__item.s-title--size-xx--med.h-text--line-x-small.s-title--no-mp
                                        h3 Спецпроект Британская школа в дни осенних каникул
                                        .news-list__date.p10-t 25/10/2018 <i class="news-list__category-bullet">&bull;</i><span>Школа</span>
                                        .news-list__small-descr.p15-t.
                                            Это НЕ занятия английским языком,а другие дисциплины, которые проводятся на английском языке.

                            .p10-t.p20-t--md.p10-b
                                button.btn.btn--small-lr-indent
                                    span.btn__text Все новости
                        .col.col--xs-12.col--md-4.p40-t.p0-t--md
                            .books-list
                                .books-list__main-title.h-text--bold Книги в продаже
                                each books in [1,2]
                                    .books-list__item 
                                        .books-list__book-img
                                            img(data-src=`${require('book.jpg')}` alt="").lazyload
                                        .books-list__book-link.h-text--line-med.m10-t.
                                            KUMON. Учимся писать строчные буквы английского алфавита

                                .books-list__all-link.h-text--bold.m25-t Еще книги