extends ../layouts/main
block append title 
    | Обучение за рубежом

block main

    main
        //- ie min-height flexbox bug
        div.row.row--xs-column
            .section-photo.section-photo--medium.row.text--center.p15-l--lg.p15-r--lg.h-text--upper(data-bg=`${require('obuchenie.jpg')}`).lazyload
                .grid.grid--container.h-text--line-x-small.s-title--no-mp
                    .p10-t
                        h1 обучение за рубежом

        .grid.grid--container

            .h-text--size-med.content-def-wrap

                .text--center.title.title--huge
                    .p10-t.
                        Идет набор детей 13-17 лет для летней поездки <br>
                        в Дублин (Ирландия)                

                .content-section.p35-t.
                    Дублин является настоящим хранителем богатой ирландской истории, культуры, традиций,
                    простоты и веселья. Приглашаем Вас отправится в удивительное путешествие, найти свой горшочек 
                    с золотом, станцевать настоящий ирландский танец со своим дублинским куратором и найти 
                    новых друзей из разных стран.

                .info-table.content-def-wrap
                    .row--sm.info-table__row
                        .col.col--sm-4.info-table__col.h-text--bold Возраст
                        .col.col--sm-8.info-table__col
                            | 13-17 лет
                    .row--sm.info-table__row
                        .col.col--sm-4.info-table__col.h-text--bold Дата поездки
                        .col.col--sm-8.info-table__col
                            | 30.06 - 14.07.19              
                    .row--sm.info-table__row
                        .col.col--sm-4.info-table__col.h-text--bold Место проведения 
                        .col.col--sm-8.info-table__col
                            | Ирландия, г. Дублин, проживание в резиденции на территории кампуса Университетского колледжа Дублина USD
                    .row--sm.info-table__row
                        .col.col--sm-4.info-table__col.h-text--bold Обучение
                        .col.col--sm-8.info-table__col
                            | 20 уроков английского языка в неделю
                    .row--sm.info-table__row
                        .col.col--sm-4.info-table__col.h-text--bold Питание 
                        .col.col--sm-8.info-table__col
                            | Полный пансион на территории кампуса Университетского колледжа Дублина USD    
                    .row--sm.info-table__row
                        .col.col--sm-4.info-table__col.h-text--bold Телефон 
                        .col.col--sm-8.info-table__col
                            | <strong>91-12-82</strong>                          

                .p35-t.text--center.content-section.content-section--color-dark
                    | <strong>В конце июня студенты Языкового центра «Лингва Сити» едут в Дублин! <br>
                    | Вы можете присоединиться к нам - места еще есть!</strong>

                .text--center.p20-b.p25-t.p40-t--xl.p30-b--xl
                    .p15-b.p30-b--lg
                        button.btn.show-popup(data-popup-window="#p-2")
                            span.btn__text Подать заявку 


                div.p60-b--md
                    div.p35-b
                        div                        
                            .title.title--huge.
                                Школа   
                            div.content-section.p15-t.
                                Международная летняя программа организована центром АТС на территории кампуса Университетского колледжа 
                                Дублина USD, расположенного в 4 км. к югу от центра города. На территории в 132 га 
                                созданы все условия для полноценной учебы и отдыха: просторные учебные корпуса и 
                                резиденции для проживания студентов, теннисные корты, футбольные поля для игры в регби, 
                                а так же бассейн олимпийского размера (50м)      

                        div.content-def-wrap                        
                            .title.title--huge.
                                Курсы английского языка
                            div.content-section.p15-t.
                                Каникулярный курс специально подготовлен для школьников, изучающих английский как иностранный. Программа состоит из 20 уроков в неделю. Студенты учатся с понедельника по пятницу в интернациональных классах до 15 человек. Распределение по учебным группам происходит по результатам тестирования в первый учебный день.

                        div.content-def-wrap                        
                            .title.title--huge.
                                Проживание
                            div.content-section.p15-t.
                                Проживание и обучение организовано на территории кампуса. Университетская резиденция Glenomena апартаментного типа, расположена в 5 минутах ходьбы от учебного корпуса. Комнаты 1-местные с удобствами.                     

                        div.content-def-wrap                        
                            .title.title--huge.
                                Досуг, спорт и отдых
                            div.content-section.p15-t.
                                В первый день студенты знакомятся с кампусом. Программа включает 1 поездку в неделю на целый день, например, в Глендалох, Белфаст или Килкенни. Так же школа организует 3 поездки на полдня за 2 недели к Дублинскому замку, к собору Святого Патрика, на Viking Splash тур, собачьи бега или к другим достопримечательностям Дублина. 1 входной билет в неделю включен в стоимость. Проездные предоставляются бесплатно. По вечерам и после занятий анимационная команда школы устаивает дискотеки, ирландские танцы, шоу талантов, поиск сокровищ, интеллектуальные лотореи, спортивные соревнования. 

                        div.content-def-wrap                        
                            .title.title--huge.
                                Следите за прогрессом ребёнка
                            div.content-section.p15-t.
                                Чтобы своевременно узнавать об успехах и сложностях в учёбе ребёнка, поддерживайте связь с центром и пользуйтесь нашей общей системой. Ещё вы можете договориться и пообщаться с преподавателем и присутствовать на открытом уроке 2 раза в год.                                  

