/*** 

 */

.header {

    position: relative;

    &__inner {
        justify-content: space-between;
    }

    &__logo {

        background: url('~img/svg/logo.svg');
        width: width('logo.svg', 2.2);
        height: height('logo.svg', 2.2);
        background-size: width('logo.svg', 2.2) height('logo.svg', 2.2);

        @media(min-width: @sm) {
            width: width('logo.svg', 1.35);
            height: height('logo.svg', 1.35);
            background-size: width('logo.svg', 1.35) height('logo.svg', 1.35);
        }

        a {
            text-indent: -9999px;
            height: 100%;
        }

    }

    &__phone {

        font-weight: bold;
        color: @color-grey--lighten;
        text-align: right;
        line-height: .92;
        padding-right: 40px;
        .px2rem(@g-f-size--med - 1);
        padding-top: 2px;

        @media(min-width: @sm) {
            padding-top: 0;
            .px2rem(@g-f-size-xx--med);
        }

        @media(min-width: @lg) {
            padding-right: 0;
        }

    }

    &__make-callback {

        cursor: pointer;
        display: inline-block;
        padding-top: 7px;
        line-height: 1;
        color: @color-green;
        text-transform: uppercase;
        .px2rem(@g-f-size-xxx--small);

        @media(min-width: @lg) {
            padding-top: 0;
        }

    }

    &__mobile-menu-state {

        display: none;

        @media(max-width: @lg - 1) {

            &:checked~.sticky-header .main-nav {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: #fff;
                z-index: 9998;
                margin-top: 0;
            }

            &:checked~.sticky-header .main-nav__list {

                flex-direction: column;
                justify-content: center;
                height: 100%;
                overflow: auto;
                padding-top: 50px;

                @media(min-width: @sm) {
                    padding-top: 80px;
                }

                .main-nav__item {
                    display: block;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                .main-nav__burder {

                    &::before {
                        visibility: hidden;
                    }
                    
                }

                .main-nav__item--burger {

                    position: fixed;
                    top: 21px;
                    right: 15px;
                    z-index: 9999;

                    &::after,
                    &::before {
                        width: 27px;
                        left: -4px;
                        position: relative;
                    }

                    &::before {
                        transform: rotate(45deg);
                        top: 7px;
                    }

                    &::after {
                        transform: rotate(-45deg);
                        top: -7px;
                    }

                    @media(min-width: @sm) {
                        top: 30px;
                    }

                }


            }

            &:checked~.header__inner .header__logo {

                position: fixed;
                z-index: 9999;

                @media(min-width: @sm) {
                    top: 15px;
                }

            }

        }


    }

}