/*** 

 */ 

.cource-request-form {

    border: 2px solid @c-cource-request-form-border-color;
    background: #fff;

    &__inner {
        width: 560px;
        max-width: 100%;
        margin: 0 auto;
    }

    &__wrap {
        width: 330px;
        max-width: 100%;
        margin: 0 auto;
    }

}