/*** 
    блок записи на бесплатный урок
 */ 

.sing-up-to-lesson {

    background: @color-blue-dark;
    color: #fff;

    &__input {

        color: #fff;
        border: none;
        padding: 0;
        margin: 0;
        font-weight: 300;
        width: 100%;
        font-size: inherit;
        padding-left: 5px;
        border-bottom: 1px solid @color-green;
        height: 30px;
        line-height: 30px;
        background: transparent;

        &::placeholder {
            color: #fff !important;
        }

    }

}