/*** 

 */ 

.cource-nav {

    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 10px;

    @media(min-width: @lg) {
        padding-bottom: 0
    }

    &__item {

        color: @color-grey--darken;
        line-height: 1;
        font-weight: 700;
        .px2rem(@g-f-size--med); 
        display: inline-block;
        margin-bottom: 18px;
        margin-right: 10px;

        @media(min-width: @md) {

            .px2rem(@g-f-size-x--med);             
            margin-bottom: 28px;

            &:not(:last-of-type) {
                margin-right: 20px;
            }        

        }

        @media(min-width: @lg) {

            display: block;
            .px2rem(@g-f-size-xx--med); 

            &:not(:last-of-type) {
                margin-right: 0;
                margin-bottom: 28px;
            }

        }

    }

}