/**
 *  вспомогательный блок по сетке
 *  для нулевый отступов
 *  p0-l--xs
 *  sm,lg etc
 */


.p0 {

    &-l {
        .gen-media-grid-rules( {
            padding-left: 0;
        });
    }

    &-r {
        .gen-media-grid-rules( {
            padding-right: 0;
        });
    }

    &-t {
        .gen-media-grid-rules( {
            padding-top: 0;
        });
    }

    &-b {
        .gen-media-grid-rules( {
            padding-bottom: 0;
        });
    }

}