
/**
 * стики футер с отрицательным маргином 
 */

body {
    min-height: 100%;
}

* html .mainContentWraper {
    overflow: visible;
}

.mainContentWraper:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

.mainContentWraper {
    display: inline-block;
}

/*\*/

.mainContentWraper {
    display: block;
}

/**/

.mainContentWraper {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
