
/**
 *  cтики футер на базе flexbox
 */

html,
body {
    min-height: 100vh;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}