/*** 
    список новостей
 */ 

.news-list {

    position: relative;
    font-weight: 400;

    &__item {

        padding-bottom: 25px;    
        color: @color-grey--lighten;
        .px2rem(@g-f-size--med);    
        
        & + & {
            margin-top: 25px;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid @color-grey-x-light;            
        }

    }

    &__category-bullet {
        padding: 0 6px 0 4px;
    }

    &__date {
        color: @color-green--light;
    }

    &__small-descr {
    }

}