/*** 
    преимущества обучения
 */

.learning-benefits {

    list-style-type: none;
    padding: 0;
    margin: 0;

    @media(min-width: @md) {
        column-count: 2;
        column-gap: 60px;        
    }

    &__item {

        line-height: 1.35;
        width: 100%;
        color: @c-learning-benefits-text-color;
        font-weight: 400;
        padding: 4px 0 25px 43px;
        position: relative;

        @media(min-width: @md) {
            .column-no-break();
            float: left;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            color: #fff;
            top: 0;
            width: 28px;
            height: 28px;
            background: @color-green url('~img/svg/checked.svg') 50% 50% no-repeat;
            background-size: 14px 14px;
            border-radius: 100%;
        }

    }

}