/*** 

 */

.home-contacts {

    padding: 35px 0;
    position: relative;
    color: #fff;
    background: url('~img/bgs/home-contacts1920_compress.jpg') 50% 0 no-repeat;
    background-size: cover;
    .px2rem(@g-f-size--med);

    @media(min-width: @md) {
        padding: 4.5% 0 6.5%;        
    }

    // &::before {
    //     content: '';
    //     z-index: 0;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: @color-green;
    //     // background: fade(@color-green, 87%);
    // }

    &__contacts,
    &__social {
        position: relative;
        z-index: 1
    }

    &__contacts {}

    &__show-more-contacts {
        margin-top: 7%;
    }

    &__social {

        @media(min-width: @sm) {
            padding-top: 62px;
        }

    }

    &__social-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-weight: 300;
    }

    &__social-list-item {

        display: inline-block;
        margin: 5px 10px;

        @media(min-width: @sm) {
            margin: 0;
            display: block;
        }

        &+& {
            .px2rem(22, padding-top);
        }

    }

    &__office {

        &:nth-of-type(n + 2) {

            padding-top: 35px;

            @media(min-width: @md) {
                padding-top: 0;
            }
            
        }
        

        &:nth-of-type(n+3) {

            @media(min-width: @md) {
                padding-top: 60px;
            }

        }
    }

}