/**
 *  helpers
 */
@import (less) './../../helpers/h-extract-breakpoin.less';
@import (less) './../../helpers/h-indent-gen-summary.less';
@import (less) './../../helpers/h-indent-gen-summary-dynamic.less';

/**
 *  DEV 
 */

.blue() {
    outline: 1px solid blue !important;
}

.red() {
    outline: 1px solid red !important;
}

.green() {
    outline: 1px solid green !important;
}

/**
 *  шрифты
 */

.font-face(@family-name, @font-path, @font-weight: normal, @font-style: normal, @include-svg: false) when not (@include-svg) {

    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.eot');
        src: url('@{font-path}.eot?#iefix') format('embedded-opentype'),
        url('@{font-path}.woff') format('woff'),
        url('@{font-path}.ttf') format('truetype');
        font-weight: @font-weight;
        font-style: @font-style;
    }

}

.font-face(@family-name, @font-path, @font-weight: normal, @font-style: normal, @include-svg: false) when (@include-svg) {

    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.eot');
        src: url('@{font-path}.eot?#iefix') format('embedded-opentype'),
        url('@{font-path}.woff') format('woff'),
        url('@{font-path}.ttf') format('truetype'),
        url('@{font-path}.svg#@{family-name}') format('svg');
        font-weight: @font-weight;
        font-style: @font-style;
    }

}

/**
 *  переносить по словам
 */

.wrap-words() {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/**
 *  fix баг разблюривание элемента(текста) для 
 *  нецелых значений у свойств. webkit 
 */

.webkit-blur-bug() {
    webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    -webkit-filter: blur(0);
    transform_+: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    filter: blur(0);
}

/**
 *  не переносить текст на др. колонку при column-count etc
 */

.column-no-break() {
    overflow: hidden;
    /* Fix for firefox and IE 10-11  */
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
    break-inside: avoid-column;
}

/**
 *  длина flex бокса (ie and old browsers)
 */

.flex-basic-width(@width: 0) {
    flex-basis: @width;
    min-width: @width;
    width: @width;
}

/**
 *  rem to px
 */

.px2rem(@value-in-px) {
    @rem: round(unit(@value-in-px) / unit(@g-f-size-default), 3);
    font-size:~"@{rem}rem";
}

.px2rem(@value-in-px, @property) {
    @rem: round(unit(@value-in-px) / unit(@g-f-size-default), 3);
    @{property}:~"@{rem}rem";
}

/**
 * генерация вспомогательных правил элемента 
 * на основе breakpoints
 * например --  .g-hidden--md, .g-hidden--sm etc
 * 
 * @rules - {Object} 
 * 
 * {
 *      border: 1px solid red,
 *      display: none;
 * }
 *
 * @dont-show-first-rule - не показывать 
 * первое правило с important
 * 
 */

.gen-media-grid-rules(@rules: {}, @dont-show-first-rule: false, @i: 1) when (@i <=length(@breakpoints)) {

    @point: extract(@breakpoints, @i);
    @size: extract(@point, 1);
    @width: extract(@point, 2);

    & when (@width =0) and (@dont-show-first-rule =false) {
        @rules();
    }

    & when (@width > 0) {

        &--@{size} {

            @media (min-width: @width) {
                @rules();
            }

        }

    }

    .gen-media-grid-rules(@rules, @dont-show-first-rule, @i+1);

}

/**
 *  создание карты отступов
 */

.gen-indent-map(@i: unit(@min-indent-value), @property: margin, @propAlias: m) when (@i <=unit(@max-indent-value)) {

    .for-breakpoints(@k: 1) when (@k <=length(@breakpoints)) {

        .h-extract-breakpoint(@k);

        // all properties {t r b l}

        & when (@width =0) {

            .@{propAlias}@{i} {
                .h-indent-gen-summary(@i, @property, @k);
            }

            // для динамических свойст не генерим размер, просто 
            // значения помноженное на коеффициент            

            & when (@use-global-indent-koef =true) {

                .@{propAlias}@{i}--d {
                    .h-indent-gen-summary-dynamic(@i, @property, @k);
                }

            }

        }

        & when (@width > 0) {

            .@{propAlias}@{i}--@{size} {

                @media (min-width: @width) {
                    .h-indent-gen-summary(@i, @property, @k);
                }

            }

            // для динамических свойст не генерим размер , просто 
            // значения помноженное на коеффициент            

            & when (@use-global-indent-koef =true) {

                .@{propAlias}@{i}--d {

                    @media (min-width: @width) {
                        .h-indent-gen-summary-dynamic(@i, @property, @k);
                    }

                }

            }

        }

        // each property {t r b l}

        .for-alone-prop(@z: 1) when (@z <=length(@separate-indent-props)) {

            @sideProp: extract(@separate-indent-props, @z);
            @sidePropShortName: extract(@sideProp, 1);
            @sidePropName: extract(@sideProp, 2);

            & when (@width =0) {

                .@{propAlias}@{i}-@{sidePropShortName} {
                    .h-indent-gen-summary(@i, @property, @k, @sidePropName);
                }

                // для динамических свойст не генерим размер, просто 
                // значения помноженное на коеффициент                

                & when (@use-global-indent-koef =true) {

                    .@{propAlias}@{i}-@{sidePropShortName}--d {
                        .h-indent-gen-summary-dynamic(@i, @property, @k, @sidePropName);
                    }

                }

            }

            & when (@width > 0) {

                .@{propAlias}@{i}-@{sidePropShortName}--@{size} {

                    @media (min-width: @width) {
                        .h-indent-gen-summary(@i, @property, @k, @sidePropName);
                    }

                }

                // для динамических свойст не генерим размер, просто 
                // значения помноженное на коеффициент

                & when (@use-global-indent-koef =true) {

                    .@{propAlias}@{i}-@{sidePropShortName}--d {

                        @media (min-width: @width) {
                            .h-indent-gen-summary-dynamic(@i, @property, @k, @sidePropName);
                        }

                    }

                }

            }

            .for-alone-prop(@z+1);
        }

        .for-alone-prop();
        .for-breakpoints(@k+1);
    }

    .for-breakpoints();
    .gen-indent-map(@i + unit(@default-spacer-step), @property, @propAlias);
}

/**
 *  создание кастомной отрицательной карты отступов
 */

.gen-invert-map(@i: 0, @property: margin, @propAlias: m, @max: 0, @dymanic: true, @static: true) when (unit(@i) <=unit(@max)) {

    .for-breakpoints(@k: 1) when (@k <=length(@breakpoints)) {

        .h-extract-breakpoint(@k);

        // all properties {t r b l}

        & when (@width =0) {

            & when (@static =true) {

                .@{propAlias}-invert@{i} {
                    .h-indent-gen-summary(unit(@i), @property, @k);
                }

            }

            // для динамических свойст не генерим размер, просто
            // значения помноженное на коеффициент

            & when (@use-global-indent-koef =true) and (@dymanic =true) {

                .@{propAlias}-invert@{i}--d {
                    .h-indent-gen-summary-dynamic(unit(@i), @property, @k);
                }

            }

        }

        & when (@width > 0) {

            & when (@static =true) {

                .@{propAlias}@{i}--@{size} {

                    @media (min-width: @width) {
                        .h-indent-gen-summary(unit(@i), @property, @k);
                    }

                }

            }

            // для динамических свойст не генерим размер , просто
            // значения помноженное на коеффициент

            & when (@use-global-indent-koef =true) and (@dymanic =true) {

                .@{propAlias}-invert@{i}--d {

                    @media (min-width: @width) {
                        .h-indent-gen-summary-dynamic(unit(@i), @property, @k);
                    }

                }

            }

        }

        // each property {t r b l}

        .for-alone-prop(@z: 1) when (@z <=length(@separate-indent-props)) {

            @sideProp: extract(@separate-indent-props, @z);
            @sidePropShortName: extract(@sideProp, 1);
            @sidePropName: extract(@sideProp, 2);

            & when (@width =0) {

                & when (@static =true) {

                    .@{propAlias}-invert@{i}-@{sidePropShortName} {
                        .h-indent-gen-summary(unit(@i), @property, @k, @sidePropName);
                    }

                }

                // для динамических свойст не генерим размер, просто
                // значения помноженное на коеффициент

                & when (@use-global-indent-koef =true) and (@dymanic =true) {

                    .@{propAlias}-invert@{i}-@{sidePropShortName}--d {
                        .h-indent-gen-summary-dynamic(unit(@i), @property, @k, @sidePropName);
                    }

                }

            }

            & when (@width > 0) {

                & when (@static =true) {

                    .@{propAlias}-invert@{i}-@{sidePropShortName}--@{size} {

                        @media (min-width: @width) {
                            .h-indent-gen-summary(unit(@i), @property, @k, @sidePropName);
                        }

                    }

                }

                // для динамических свойст не генерим размер, просто
                // значения помноженное на коеффициент

                & when (@use-global-indent-koef =true) and (@dymanic =true) {

                    .@{propAlias}-invert@{i}-@{sidePropShortName}--d {

                        @media (min-width: @width) {
                            .h-indent-gen-summary-dynamic(unit(@i), @property, @k, @sidePropName);
                        }

                    }

                }

            }

            .for-alone-prop(@z+1);
        }

        .for-alone-prop();
        .for-breakpoints(@k+1);
    }

    .for-breakpoints();
    .gen-indent-map(unit(@i) + unit(@default-spacer-step), @property, @propAlias);
}

/**
 *  создание любого свойcтdа на основе карты отступов и динамических коэффициентов в px
    @startIndex можно использовать как старт индекс
    @excludeIndex  индекс с которого не стоит выводить
 */

.gen-dynamic-property-like-indent-map(@property: margin, @userSize: 0, @startIndex: 1, @excludeIndex: 1000) when (@startIndex <=length(@breakpoints)) {

    & when (@use-global-indent-koef =true) and (@startIndex < @excludeIndex) {

        .for-poperty(@k: 1) when (@k <=length(@property)) {

            @prop: extract(@property, @k);

            .h-extract-breakpoint(@startIndex);

            & when (@width =0) {
                @summaryValue: round(@userSize * extract(@default-indent-koef-grid, @startIndex), 1);
                @{prop}:~"@{summaryValue}px";
            }

            & when (@width > 0) {

                @media (min-width: @width) {
                    @summaryValue: round(@userSize * extract(@default-indent-koef-grid, @startIndex), 1);
                    @{prop}:~"@{summaryValue}px";
                }

            }

            .for-poperty(@k+1);
        }

        .for-poperty();

    }

    .gen-dynamic-property-like-indent-map(@property, @userSize, @startIndex+1, @excludeIndex);

}


// .gen-media-by-list(@list, @property, @i: 1) when (@i <= length(@list))  and (length(@property) <= 1) {

//     @one-list: extract(@list, @i);
//     @size: extract(@one-list, 1);
//     @property-value: extract(@one-list, 2);

//     @media (min-width: @@size) {
//         @{property} : @property-value;
//         fuck: blue
//     }

//     .gen-media-by-list(@list, @property, @i+1);
// }


/**
 *  генерирует список медиа запросов для одного(или более) свойств по breakpoint-ам - 
 *  например  @c-left-block-width: lg 230px, xxl 288px;
 *  .class {
        .gen-media-by-list(@c-left-block-width, width);
        .gen-media-by-list(@c-left-block-width, width max-width);
    }
 */


.gen-media-by-list(@list, @property, @i: 1) when (@i <=length(@list)) {

    @one-list: extract(@list, @i);
    @size: extract(@one-list, 1);
    @property-value: extract(@one-list, 2);

    @media (min-width: @@size) {

        .for-poperty(@k: 1) when (@k <=length(@property)) {

            @prop: extract(@property, @k);
            @{prop}: @property-value;

            .for-poperty(@k+1);
        }

        .for-poperty();
    }

    .gen-media-by-list(@list, @property, @i+1);
}

/**
 *  ICONS
 */

.iconsMix(@imgName) {

    & {
        background: svg-load('@{img-svg}/@{imgName}.svg') 0 0 no-repeat;
        background-size: size('@{img-svg}/@{imgName}.svg');
    }

}

.iconsMix(@imgName, @sizeCrop) {

    & {
        background: svg-load('@{img-svg}/@{imgName}.svg') 0 0 no-repeat;
        background-size: size('@{img-svg}/@{imgName}.svg', @sizeCrop);
    }

}

.iconsMix(@w, @h, @imgName) {

    & {
        background: svg-load('@{img-svg}/@{imgName}.svg') 0 0 no-repeat;
        background-size: @w @h;
    }

}

.iconsBeforeMix(@imgName) {

    &::before {
        content: '';
        background: svg-load('@{img-svg}/@{imgName}.svg') 0 0 no-repeat;
        background-size: size('@{img-svg}/@{imgName}.svg');
        width: width('@{img-svg}/@{imgName}.svg');
        height: height('@{img-svg}/@{imgName}.svg');
    }

}

.iconsBeforeMix(@w, @h, @imgName) {

    &::before {
        content: '';
        background: svg-load('@{img-svg}/@{imgName}.svg') 0 0 no-repeat;
        background-size: @w @h;
        width: @w;
        height: @h;
    }

}

.iconsAfterMix(@imgName) {

    &::after {
        content: '';
        background: svg-load('@{img-svg}/@{imgName}.svg') 0 0 no-repeat;
        background-size: size('@{img-svg}/@{imgName}.svg');
        width: width('@{img-svg}/@{imgName}.svg');
        height: height('@{img-svg}/@{imgName}.svg');
    }

}

.iconsAfterMix(@w, @h, @imgName) {

    &::after {
        content: '';
        background: svg-load('@{img-svg}/@{imgName}.svg') 0 0 no-repeat;
        background-size: @w @h;
        width: @w;
        height: @h;
    }

}

/**
 *  title list
 */

.title-list(@rules) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @rules();
    }
}



/* scoped */

.main-menu-font-size() {

    .px2rem(@g-f-size-small);

    @media(min-width: @xxl) {
        font-size: 1rem;
    }

}