/**********************************
 * настройки компонентов
**********************************/


@c-camps-next-prev-size: 30px;

/**
*/

@c-review-start-width: 780px;

/*
*/

@c-menu-burger-width: 21px;
@c-menu-burger-item-height: 3px;


/*
*/

@c-cource-request-form-border-color: #c7c7c7;
@c-form-dark-field-border-color: #c7c7c7;

/*
*/

@c-checkbox-main-bg-color: #f2f2f2;

/*
*/

@c-learning-benefits-text-color: #222222;

