/**********************************
 * глобальные настройки проекта
**********************************/

/**
 *  wrapper sizes
 */

@site-max-width: 980px;

/**
 *  global options
 */

@is-g-user-selected-disabled: true; // запретить выделение текста
@is-g-input-not-styled: true; // не стилизовать интупы
@is-g-image-render-enadle: false; // расщиренный рендер для фоток
@is-g-font-smoothing-enable: false; // webkit сглаживание шрифтов
@is-g-outline-disabled: true; // отключить outline для всех элементов

/**
 *  grid options
 */

@xs: 0;
@sm: 544px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: @site-max-width;
@xxl-grid-with-indent: @site-max-width + 40; // доспуск на скрол для сетки. ну и чтобы гармонично смотрелось


@breakpoints: xs @xs, sm @sm, md @md, lg @lg, xl @xl, xxl @xxl; // Grid breakpoints
@columns: 12; // Number of columns


/**
 *  identation
 */

// использовать ли коэффициенты для перерасчета полей и отступов по сетке
// и герерировать ли соответствущую
// динамичесаую сетку полей и отступов

@use-global-indent-koef: false;
@default-indent-koef-grid: .5, .6, .7, .8, .9, 1; // коэффициенты в % по сетке для внутренних внешних полей и отступов

// настройки внутренних внешних отсутпов

@default-spacer-step: 5px; // шаг для полей и отступов - 10, 10 + 5, 15+5 etc
@min-indent-value: 10px;
@max-indent-value: 60px;
@block-margin-alias: m; // альяс имени блока margin
@block-padding-alias: p; // альяс имени блока padding
@separate-indent-props: l left, r right, b bottom, t top; // список альясов и отдельных свойст полей и отступов

/**
 * colors
 */

@color-grey: #2c2c2c;
@color-grey-xxx-light: #c4c4c4;
@color-grey-xx-light: #fcfcfc;
@color-grey-x-light: #cecece;
@color-grey--light: #797979;
@color-grey--lighten: #3a3d42;
@color-grey--darken: #383838;
@color-grey--dark: #2d2d2d;
@color-grey--x-dark: #1c1c1c; // дизайнер мудааГГ столько цветов (((

@color-green: #23cccb;
@color-green--light: #73cbcb;
@color-blue-dark: #303e49;

/**
*/

@g-text-color: @color-grey;
@g-bg-body: #fff;
@g-placeholder-color: #acacac;
@g-link-color: @color-green;
@g-link-hover-color: @color-green;

/**
 *  line-height
 */

@g-line-height: 1.15;

/**
 *  border-radius
 */

@g-border-radius-size: 2px;
@g-border-radius-size--medium: 3px;
@g-border-radius-size--big: @g-border-radius-size + 2;

/**
 *  fonts
 */

@g-f-size-default: 15;

@g-f-size--small: @g-f-size-default - 1; //14

@g-f-size-x--small: @g-f-size-default - 2; // 13
@g-f-size-xx--small: @g-f-size-default - 3; // 12
@g-f-size-xxx--small: @g-f-size-default - 4; // 11

@g-f-size--med: @g-f-size-default + 1; // 16
@g-f-size-x--med: @g-f-size-default + 3; // 18
@g-f-size-xx--med: @g-f-size-default + 5; // 20
@g-f-size-xxx--med: @g-f-size-default + 11; // 23

@g-f-size-huge: @g-f-size-default + 15; // 30
@g-f-size-x-huge: @g-f-size-default + 17; // 32
@g-f-size-xx-huge: @g-f-size-default + 20; // 35

/**
 *  sizes
 */

// images

@g-thumb-image-size--x-small: 50px;
@g-thumb-image-size--small: 60px;

// forms and inputs

@g-input-height: 50px;
@g-input-small-height: 40px;
@g-textarea-height: 250px;

// media inputs

@g-input-media-list: xs @g-input-small-height, lg @g-input-height;
@g-input-media-list-line-height: xs @g-input-small-height - 2, lg @g-input-height - 2;

/**
 *  effects
 */

@g-trans-duration: .2s;
@g-fade-hide-show-duration: .2s;

/**
 *  shadows
 */

@g-forms-controls-focus-shadow: 0 0 10px 4px rgba(0, 0, 0, .03);