/**
 *  вспомогательный блок по сетке
 *  для нулевый полей
 *  m0-l--xs
 *  sm,lg etc
 */


.m0 {

    &-l {
        .gen-media-grid-rules( {
            margin-left: 0;
        });
    }

    &-r {
        .gen-media-grid-rules( {
            margin-right: 0;
        });
    }

    &-t {
        .gen-media-grid-rules( {
            margin-top: 0;
        });
    }

    &-b {
        .gen-media-grid-rules( {
            margin-bottom: 0;
        });
    }

}