/*** 

 */

.s-title {

    &--no-mp {
        .title-list( {
            padding: 0;
            margin: 0;
        });
    }

    &--size-huge {
        .title-list({
            .px2rem(@g-f-size-huge);
        });
    }    

    &--extra-bold {
        .title-list({
            font-weight: 800;
        });        
    }

    &--size-xx-huge {
        .title-list({
            .px2rem(@g-f-size-xxx--med);
            @media(min-width: @lg) {
                .px2rem(@g-f-size-xx-huge);
            }
        });
    }        

    &--size-xx--med {
        .title-list({
            .px2rem(@g-f-size-xx--med);
        });
    }

}