/**
 *  hepler для "распаковки" свойств breakpoint-a
 *  return 
 *      @size - размер {xl,sm, etc}
 *      @width - размер в px {768px, 992px etc}
 *  
 */

.h-extract-breakpoint(@index) {
    @point: extract(@breakpoints, @index);
    @size: extract(@point, 1);
    @width: extract(@point, 2);  
}