/**
 * helper для генерация набора свойст top left right bottom
 */


.h-indent-gen-summary(@value, @property, @index) {

    @summaryValue: @value;

    // & when (@use-global-indent-koef = true) {
    //     @summaryValue: round(@value * extract(@default-indent-koef-grid, @index), 1);
    // 

    @{property}-left: ~"@{summaryValue}px";
    @{property}-right: ~"@{summaryValue}px";
    @{property}-bottom: ~"@{summaryValue}px";
    @{property}-top: ~"@{summaryValue}px";

}


/**
 * helper для генерация одного свойства
 */


.h-indent-gen-summary(@value, @property, @index, @rule) {

    @summaryValue: @value;

    // & when (@use-global-indent-koef = true) {
    //     @summaryValue: round(@value * extract(@default-indent-koef-grid, @index), 1);
    // }

    @{property}-@{rule}: ~"@{summaryValue}px";

}