.col {

    // padding: 1rem .5rem 0 .5rem;
    //.variant(no-gutters; { padding: 0; });

    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 1px;

    .variant(shrink-no; {
        flex-shrink: 0 !important
    });

    .variant(shrink-yes; {
        flex-shrink: 1 !important
    });

}