.grid {

    //box-sizing: border-box;
    // padding: 0 .5rem;
    //.variant(no-gutters, { padding: 0; });

    .variant(container; {

        margin: 0 auto;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        //max-width: @site-max-width;

        @media(min-width: @xxl-grid-with-indent) {
            padding-left: 0;
            padding-right: 0;
            max-width: @site-max-width;
        }

    });
}