.row {

    box-sizing: border-box;
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0; // margin: -1rem -.5rem 1rem -.5rem;

    //&:last-child {
    //    margin-bottom: 0;
    //}

    //.variant(no-gutters; { margin: 0; });

    /**
     *  display flex with !important
     */

    .gen-media-grid-rules({
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 0 1 100%;
    }, @dont-show-first-rule: true);

    .variant(no-wrap; { flex-wrap: nowrap });
    .variant(justify-end; { justify-content: flex-end; });
    .variant(justify-between; { justify-content: space-between; });

}