footer.footer

    .home-contacts.lazyload
        .grid.grid--container
            .row--sm

                .col.col--xs.home-contacts__contacts.text--center.text--sm-left
                    .row--md
                        each address in [1,2,3]
                            .col.col--xs-12.col--md-6.home-contacts__office
                                .title.p35-b Офис &laquo;Кембриджский&raquo;
                                .h-text--line-x-huge
                                    | ул. Ленина 21, 3 этаж БЦ &laquo;Форум&raquo; <br>
                                    a(href="tel:73412912182" title="+7 (3412) 912-182" class="link link--white link--h-white link--no-decor") +7 (3412) 912-182, 
                                    a(href="tel:79127677522" title="+7 912 767-75-22" class="link link--white link--h-white link--no-decor") +7 912 767-75-22  <br>
                                    a(href="mailto:cambridge@lingua-city.ru" title="" class="link link--white link--h-white link--decorate-out h-text--line-def") cambridge@lingua-city.ru                      
                    .home-contacts__show-more-contacts.link.link--white.link--h-white.link--decorate-out.show-popup(data-popup-window="#p-1")  Посмотреть все контакты

                .col.col--xs-auto.home-contacts__social
                    ul.home-contacts__social-list.text--center.text-md--sm
                        li.home-contacts__social-list-item
                            a(href="https://www.facebook.com/linguacity2013/" title="Фейсбук" class="link link--white link--h-white link--decorate-out" target="_blank"  rel="nofollow noopener") Фейсбук
                        li.home-contacts__social-list-item
                            a(href="https://www.vk.com/linguacityizhevsk" title="Вконтакте" class="link link--white link--h-white link--decorate-out" target="_blank"  rel="nofollow noopener") Вконтакте
                        li.home-contacts__social-list-item
                            a(href="https://www.instagram.com/linguacity" title="Инстаграмм" class="link link--white link--h-white link--decorate-out" target="_blank"  rel="nofollow noopener") Инстаграмм                                                        

    .grid.grid--container.p30-t.p30-b.p35-t--sm.p35-b--sm
        .row--md
            .col.col--md-auto.text--center.text--mf-left
                a(href="mailto:dirlc@lingua-city.ru" title="Франшиза" class="link link--white link--decorate-out h-text--size-med") Франшиза
            .col.col--md-auto.p50-l--md.h-text--line-small.text--center.text--md-left.p20-t.p20-b.p0-t--md.p0-b--md
                | Сайт носит информационный характер и не является <br> публичной офертой. 
                span.d-block.d-inline-block--md
                    <a href="/privacy" target="_blank"  rel="nofollow noopener" class="link link--white link--decorate-out">Политика конфеденциальности.</a>            
            .col.col--xs.col--lg--right.text--center.text--md-right
                .footer__creator
                    a(href="http://q-com.ru/" title="Сделано в Кью" class="link link--white link--no-decor-all" target="_blank" rel="nofollow noopener")
                        | Сделано в
                        |
                        span(class="link link--white link--h-white link--decorate-out")  Кью
                        span.footer__creator-logo.p15-l
                            <img inline src="src/assets/img/svg/q-logo--hover.svg" alt="Сделано в Кью" />                        
                            <img inline src="src/assets/img/svg/q-logo.svg" alt="Сделано в Кью" />