-
    const mainNav = ['О нас', 'Курсы', 'Экзамены', 'Услуги', 'Наша команда', 
        'Книги', 'Вакансии', 
        'Корпоративное обучение', 'Обучение за рубежом',
        'Контакты'
    ];

    const mainNavOld = ['Курсы', 'Лагеря', 'Обучение за рубежом', 'Экзамены', 'Корпоративное обучение'];    

header.header.m15-t.m40-t--lg.m15-b.m35-b--lg.grid.grid--container

    input(type="checkbox" id="mobile-menu-state" class="header__mobile-menu-state")

    .row.row--no-wrap.header__inner.row--sm-center.p40-b--lg
        .col.col--xs-auto.header__logo
            a(href="/" class="d-block" title="Lingua City - языковой центр") Lingua City
        .col.col--xs-auto.header__phone
            a(href="tel:73412912182" class="d-block link link--grey-lighten link--h-grey-lighten link--decorate-in") +7 (3412) 91-21-82 
            span.link.link--decorate-in.header__make-callback.show-popup(data-popup-window="#p-2") заказать звонок

    .sticky-header
        nav.main-nav
            ul.main-nav__list.row--lg.row--xs-center
                each val, index in mainNavOld
                    li.main-nav__item
                        span(title="" class="main-nav__link" class=index === 1 ? 'is-active' : '')= val
                li.main-nav__item--burger.h-position--relative.show-popup(data-popup-window="#p-1" data-desktop="true")
                    label(for="mobile-menu-state" class="main-nav__burger-label")                
                    span.main-nav__burder
                            

    //-
        nav.main-nav.p30-t
            ul.main-nav__list.row
                each val, index in mainNav
                    li.main-nav__item
                        a(href="#" title="" class="main-nav__link" class=index === 1 ? 'is-active' : '')= val

