//- быстренько накидал попапчикк

.popup-window#p-1
    .popup-window__content
        .popup-window__close
        .popup-window__content-inner.p30-t.p15-l.p25-l--md.p15-r.p25-r-md.p40-b
            .text--center
                .p20-b
                    img(src=require("popup-logo.jpg") alt="" width="48" height="48" class="popup-window__logo")
                .title.title--huge Сайт в разработке
                .h-text.h-text--size-x-med.p15-t
                    | В ближайшее время откроются все <br>его разделы. А пока вы можете записаться <br>на обучение
            
                .p25-t.forms
                    form(action="" method="" autocomplete="off")
                        div.forms__dflt-item.p50-l--lg.p50-r--lg
                            input(type="text" name="name" class="forms__control forms__control--dark forms__control--size-100" placeholder="Ваше имя")                
                        div.forms__dflt-item.p50-l--lg.p50-r--lg
                            input(type="text" name="phone" class="forms__control forms__control--dark forms__control--size-100" placeholder="Номер телефона")                
                        div.forms__dflt-item--submit
                            button.btn.btn--small-lr-indent(type="submit") 
                                .btn__text Отправить заявку

                .p20-t
                    input(type="checkbox" value="1" checked id="request-confirm" class="forms__control-checkbox") 
                    label(for="request-confirm").h-text--normal Я согласен с 
                    |
                    |
                    <a class="link link--grey-lighten link--h-grey-lighten link--decorate-out h-text--line-def h-text--normal" href="/privacy/" title="" target="_blank" rel="nofollow noopener">Политикой конфиденциальности</a>                  



.popup-window#p-2
    .popup-window__content.popup-window__content--write-on-lesson
        .popup-window__content-inner.p30-t.p15-l.p25-l--md.p15-r.p25-r-md.p40-b
            .popup-window__close
            .text--center
                .p20-b
                    img(src=require("popup-logo.jpg") alt="" width="48" height="48" class="popup-window__logo")
                .title.title--huge Запишитесь <br> на бесплатный урок
            
                .p25-t.forms
                    form(action="" method="" autocomplete="off")
                        div.forms__dflt-item.p50-l--lg.p50-r--lg
                            input(type="text" name="name" class="forms__control forms__control--dark forms__control--size-100" placeholder="Ваше имя")                
                        div.forms__dflt-item.p50-l--lg.p50-r--lg
                            input(type="text" name="phone" class="forms__control forms__control--dark forms__control--size-100" placeholder="Номер телефона")                
                        div.forms__dflt-item.p50-l--lg.p50-r--lg
                            input(type="text" name="email" class="forms__control forms__control--dark forms__control--size-100" placeholder="E-mail")                                            
                        div.forms__dflt-item--submit
                            button.btn.btn--small-lr-indent(type="submit") 
                                .btn__text Отправить заявку

                .p20-t
                    input(type="checkbox" value="1" checked id="request-confirm" class="forms__control-checkbox") 
                    label(for="request-confirm").h-text--normal Я согласен с 
                    |
                    |
                    <a class="link link--grey-lighten link--h-grey-lighten link--decorate-out h-text--line-def h-text--normal" href="/privacy/" title="" target="_blank" rel="nofollow noopener">Политикой конфиденциальности</a>                                      
                .p10-t.h-text--color-grey--light.h-text--size-med Мы не будем высылать вам рекламу, честное слово                    