-
    const reviewList = [
        'review.jpg',
        'review.jpg',
        'review.jpg',
        'review.jpg'
    ]
.reviews
    .glide.glide--review
        .reviews__controls(data-glide-el="controls")
            .reviews__controls-prev(data-glide-dir="<") 
                <img inline src="src/assets/img/svg/arrow--green.svg" alt="" />
            .reviews__controls-next(data-glide-dir=">")
                <img inline src="src/assets/img/svg/arrow--green.svg" alt="" />
        .reviews__inner
            div(class="glide__track" data-glide-el="track")
                .glide__slides
                    each reviewPhoto in reviewList
                        .glide__slide
                            .reviews__item
                                img(data-src=`${require('review.jpg')}` alt="").lazyload
                                .p35-t.reviews__description
                                    .reviews__author.title Константин Вишневский 0
                                    .reviews__job-profile Ученик
                                    .reviews__content.content-section.p15-t.
                                        Я уже долгое время занимаюсь в «Лингва Сити» и очень довольна результатом. Мой уровень английского значительно повысился, в будущем я планирую жить и работать заграницей, а в таком случае безупречное знание языка просто необходимо. Также "Лингва Сити" предоставила мне возможность принять участие в международном экзамене, который позволил мне приобрести ценный опыт общения с носителями языка. Мой младший брат тоже занимается здесь, до этого он имел огромные проблемы с английским языком, но уже после месяца занятий с нулевого уровня он поднялся гораздо выше и уже вполне может вести малые беседы на новом языке. И в этом ему помогла "Лингва Сити"!                                    