/**
 *  вспомогательный блок по сетке
 *  для  видимости элемента со свойством 
 *  display: inline-block;
 */

.d-inline-block {
    .gen-media-grid-rules( {
        display: inline-block !important;
    });
}