/**
 *  Заголовки на сайте
 */

.title {

    color: inherit;
    font-weight: bold;
    .px2rem(@g-f-size-xx--med);

    &--extra-bold {
        font-weight: 800;
    }

    &--xx-med {
        .px2rem(@g-f-size-xx--med);
    }

    &--xxx-med {
        .px2rem(@g-f-size-xxx--med);
    }

    &--huge {
        .px2rem(@g-f-size-huge);
    }

    &--xx-huge {

        .px2rem(@g-f-size-xxx--med);

        @media(min-width: @lg) {
            .px2rem(@g-f-size-xx-huge);
        }
        
    }

}