/**
 *  позицирование блоков
 */

.h-position {

    &--static {
        position: static;
    }

    &--absolute {
        position: absolute;
    }

    &--relative {
        position: relative;
    }

    &--fixed {
        position: fixed;
    }

    &--sticky {

        @supports (position: sticky) {
            top: 20px;
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
        }        

    }

}