/*** 
    блок с экзаменами на главной
 */

.exams {

    &__wrap {

        margin-left: -15px;
        margin-right: -15px;

        @media(min-width: @lg) {
            margin-left: 0;
            margin-right: 0;
        }

    }

    &__list {

        padding: 0;
        margin: 0;
        font-weight: 400;
        list-style-type: none;
        color: @color-grey--lighten;
        .px2rem(@g-f-size-x--med);
        margin-left: 15px;

        @media(min-width: @md) {
            padding-right: 100px;
            .px2rem(@g-f-size-xx--med);
        } 

        @media(min-width: @lg) {
            margin-left: 0;
        }
        
    }

    &__list-item {

        line-height: 1;
        position: relative;
        padding-left: 52px;

        &::before {
            position: absolute;
            left: 0;
            top: 1px;
            content: '';
            background: url('~img/svg/arrow-list-right.svg') 0 0 no-repeat;
            width: 23px;
            height: 17px;
            background-size: 23px 17px;
            transition: transform @g-trans-duration + 0.1s ease-in-out;
        }

        &:hover {

            &::before {
                transform: translateX(2px);
            }

        }

        // &:not(:last-of-type) {
            padding-bottom: 33px;
        // }

    }

    &__cambridge {

        background: url('~img/bgs/cambridge_back.jpg') 50% 50% no-repeat;
        background-size: cover;
        position: relative;
        padding: 20px 15px 15px 15px;

        @media(min-width: @lg) {
            padding: 40px 34px 30px 50px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #303e49;
            opacity: 0.64;
            z-index: 0;
        }

    }

    &__cambridge-form {
        position: relative;
        z-index: 1;
        color: #fff;
    }

    &__cambridge-title {
        .px2rem(@g-f-size-xxx--med + 2);
        line-height: 1.2;
    }

    &__phone-field {

        border: 1px solid rgba(255,255,255, 0.8);
        background: transparent;
        width: 300px;
        max-width: 100%;

        &::placeholder {
            color: #fff !important;
        }

    }

}