/*** 

 */ 

.slider-controls {

    &--learning {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 2;
    }

    &__prev,
    &__next {

        cursor: pointer;
        position: absolute;
        top: 0;
        width: 35px;
        height: 35px;
        transition: transform @g-trans-duration ease-in-out;
        margin-top: -35px / 2;    

        svg {
            width: 35px;
            height: 35px;
        }

    }

    &__prev {

        left: 0;
        transform: rotate(-180deg);

        &:hover {
            transform: rotate(-180deg) translateX(3px);
        }
    }

    &__next {

        right: 0;

        &:hover {
            transform: translateX(3px);
        }

    }    
}