
//- icons mixin

mixin icon(name, url, w, h, additClass)
    - mod = mod || ''
    - additClass = additClass || ''
        svg(class="icons icons--" + name + ' ' + additClass width=w height=h)
            use(xlink:href="#" + name)

//- color

- var THEME_MOBILE_COLOR = '#73cbcb';

doctype html
html(lang="ru")
    head
        title
            block title

        meta(charset='utf-8')

        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(content="telephone=no" name="format-detection")
        meta(name="keywords" content="")
        meta(name="description" content="")

        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=5.0, user-scalable=1, shrink-to-fit=no")
        meta(name="theme-color" content=THEME_MOBILE_COLOR)
        meta(name="msapplication-navbutton-color" content=THEME_MOBILE_COLOR)
        meta(name="apple-mobile-web-app-status-bar-style" content=THEME_MOBILE_COLOR)
        meta(name="apple-mobile-web-app-status-bar-style" content=THEME_MOBILE_COLOR)

    body

        //- header block
        include ./../components/header    

        div.content

            //- main block
            block main

        //- footer block

        include ./../components/footer

        //- popup window
        include ./../components/popups