/*** 
    этапы обучения -- курсы -- @TODO - вынести из common
 */

.learning-stages {

    counter-reset: list;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media(min-width: @md) {
        column-count: 2;
        column-gap: 60px;        
    }

    &__item {

        padding-bottom: 25px;
        line-height: 1.35;
        width: 100%;
        float: left;  // спорно??? для флекса не действует но ie почему то нравится(
        
        @media(min-width: @sm) {
            .column-no-break();      
            display: flex;          
        }

        &::before {
            padding-right: 15px;
            counter-increment: list;
            font-weight: bold;
            color: @color-grey;
            content: 'Этап 'counter(list) '.'; // ммм тоже спорно.. может вынести в html???
            flex: 0 0 auto;
        }

    }

}