/**
 *  helper для vertical-align
 */


.h-v-align {

    &--t {
        vertical-align: top;
    }

    &--b {
        vertical-align: bottom;
    }

    &--m {
        vertical-align: middle;
    }

}