/*** 

 */ 

.forms {

    &__dflt-item {
        
        padding-top: 9px;

        &--submit {
            overflow: hidden;
            padding-top: 14px;
        }

    }

    &__control {

        background: #fff;
        border: none;
        border-radius: 100px;
        height: 45px;
        font-family: 'Circe', sans-serif, -apple-system, BlinkMacSystemFont;
        font-weight: normal;
        padding-left: 20px;
        color: inherit;
        .px2rem(@g-f-size--med);

        &:focus {
            box-shadow: inset 1px 1px 3px 0 rgba(0,0,0, 0.09);
        }

        &--size-100 {
            width: 100%;
        }

        &--dark {
            border: 1px solid @c-form-dark-field-border-color;
        }

        textarea& {
            height: 154px;
            border-radius: 15px;
            resize: none;
            padding-top: 15px;
        }

    }

    &__control-checkbox {

        display: none;
        
        & + label {

            position: relative;
            padding-left: 33px;
            line-height: 25px;
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;

            &::before, &::after {
                content: '';
                position: absolute;                
                width: 22px / 2;
                height: 22px / 2;
                background: @color-green;
            }

            &::after {
                display: none;
                left: (22px - 22px / 2) / 2px;
                top: (22px - 22px / 2) / 2px;
            }

            &::before {
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                background: @c-checkbox-main-bg-color;
            }

            .link {
                line-height: 1.20
            }

        }

        &:checked  + label {
            &::after {
                display: block;
            }
        }
        
    }

}