/**
 *  сылки на сайте
 */

.link {

    color: @g-link-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: @g-link-hover-color;
    }

    &--no-decor {

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

    }

    &--no-decor-all {
        text-decoration: none;
    }

    /**
        colors
    */

    &--white {
        color: #fff;
    }

    &--h-white {

        &:hover {
            color: #fff;
        }

    }

    &--grey-lighten {
        color: @color-grey--lighten;
    }

    &--h-grey-lighten {

        &:hover {
            color: @color-grey--lighten;
        }
        
    }

    &--grey-darken {
        color: @color-grey--darken;
    }

    &--h-grey-darken {

        &:hover {
            color: @color-grey--darken;
        }
        
    }

    &--default-cursor {
        cursor: default;
    }

    &--psevdo-link {
        cursor: pointer;
    }

    &--decorate-out, &--decorate-in {

        position: relative;
        text-decoration: none;
        display: inline-block;
        transition: color @g-trans-duration ease-in-out;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 0;
            left: 0;
            width: 100%;
            bottom: -1px;
            border-bottom: 1px solid;
            transition: width @g-trans-duration ease-in-out, border-color @g-trans-duration ease-in-out;
        }

        &:hover, &:focus {

            text-decoration: none;

            &::after {
                width: 0
            }

        }

    }

    &--decorate-in {

        text-decoration: none;

        &::after {
            border-bottom: 1px solid transparent;
            width: 0;
        }

        &:hover, &:focus {

            &::after {
                width: 100%;
                border-bottom: 1px solid;
            }
            
        }

    }

}