// @font-face {
//     font-family: 'Circe';
//     src: url('./../../fonts/prod/Circle/Circe-Thin.woff2') format('woff2'),
//     url('./../../fonts/prod/Circle/Circe-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Circe';
    src: url('./../../fonts/prod/Circle/Circe-Regular.woff2') format('woff2'),
    url('./../../fonts/prod/Circle/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Circe';
//     src: url('./../../fonts/prod/Circle/Circe-ExtraLight.woff2') format('woff2'),
//     url('./../../fonts/prod/Circle/Circe-ExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Circe';
    src: url('./../../fonts/prod/Circle/Circe-ExtraBold.woff2') format('woff2'),
    url('./../../fonts/prod/Circle/Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('./../../fonts/prod/Circle/Circe-Bold.woff2') format('woff2'),
    url('./../../fonts/prod/Circle/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('./../../fonts/prod/Circle/Circe-Light.woff2') format('woff2'),
    url('./../../fonts/prod/Circle/Circe-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'EB Garamond 12';
//     src: url('./../../fonts/hinted-EBGaramond12-Italic.woff2') format('woff2'),
//         url('./../../fonts/hinted-EBGaramond12-Italic.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Lt';
//     src: url('./../../fonts/hinted-ProximaNova-Light.woff2') format('woff2'),
//         url('./../../fonts/hinted-ProximaNova-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Bd';
//     src: url('./../../fonts/hinted-hneggppdfobmfeppgkglpfhnnicafonh.woff2') format('woff2'),
//         url('./../../fonts/hinted-hneggppdfobmfeppgkglpfhnnicafonh.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Th';
//     src: url('./../../fonts/hinted-ProximaNova-Extrabld.woff2') format('woff2'),
//         url('./../../fonts/hinted-ProximaNova-Extrabld.woff') format('woff');
//     font-weight: 800;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Rg';
//     src: url('./../../fonts/hinted-ProximaNova-Regular.woff2') format('woff2'),
//         url('./../../fonts/hinted-ProximaNova-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }


/***
*/

@import './../variables/global.less';
@import './../variables/components.less';

/***
*/

@import './normalize/old_normalize.less';
@import '~normalize.css/normalize.css';

/**
 *  layout
 */

@import (less) './../layout/h100-flex.less';


/***
*/

@import (less) './grid/flexbox-grid.less';


/***
*/

@import (less) './placeholder.less';

/***
*/

@import (less) './mixins/mixins.less';


/***
*/

svg:not(:root) {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}


/**
 * svg firefox fix bug
 * плохо рендерит нецелочисленные значение для windth height
 * переключаем на GPU
 */


svg {
    transform: translateZ(0);
    pointer-events: none;
}


[tabindex="-1"]:focus {
    outline: 0 !important;
}

textarea {
    overflow: auto;
    resize: vertical;
}


html * {

    box-sizing: border-box;

    & when (@is-g-user-selected-disabled =true) {
        user-select: none;
    }

    & when (@is-g-image-render-enadle =true) {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }

    & when (@is-g-font-smoothing-enable =true) {
        -webkit-font-smoothing: antialiased;
        text-shadow: 1px 1px 1px rgba(0, 0, 0.004);
    }

}

/**
 *  не стилизуем элементы форм
 */


& when (@is-g-input-not-styled =true) {

    input,
    textarea,
    select,
    button {

        &:not(.default-ui) {
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            outline-style: none;
        }

        border-radius: 0;
        -webkit-border-radius: 0;

    }

}


/**
 *  отключаем outline для всех элементов
 */


& when (@is-g-outline-disabled =true) {

    html * {
        outline: 0 !important;
    }

}


/**
 *  подстветка on tap in safary (webkit)
 */

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {

    font-family: 'Circe', sans-serif, -apple-system, BlinkMacSystemFont;
    font-size:~"@{g-f-size-default}px";
    color: @g-text-color;
    font-weight: 400;

    a,
    img,
    button {
        user-select: none;
    }

    &.is-mobile-hidden {

        @media (max-width: @lg - 1) {
            position: fixed;
            will-change: position, overflow;
            overflow: hidden !important;
            -webkit-overflow-scrolling: touch;
            //touch-action: none;
        }

    }

    &.is-hidden {
        position: fixed;
        -webkit-overflow-scrolling: touch;
        overflow: hidden !important;
    }

}

body {
    background: @g-bg-body;
}


/**
 *  global links
 */

a {

    text-decoration: underline;
    color: @g-link-color;
    transition: text-decoration @g-trans-duration ease-in-out;

    &:hover {
        text-decoration: none;
        color: @g-link-hover-color;
    }

}

/**
 *  titles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

strong,
b {
    font-weight: bold;
}


/**
 *  глобальные отступы (внешние внутренние)
 *  m10-d  margin 10px динамический
 *  p10-d padding 10px динамический
 *  p10 статический
 *  m10 статический
 *  m10-l--d динамический слева на 10 px
 */

.gen-indent-map(@property: margin, @propAlias: @block-margin-alias );
.gen-indent-map(@property: padding, @propAlias: @block-padding-alias );


/**
    img lazy loaded
*/

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity @g-trans-duration;
}

/**
    импортирование общих блоков
**/

@import (less) './../blocks/common/index.less';