/**
 *  placeholder 
 */

::placeholder {
    color: @g-placeholder-color  !important;
    opacity: 1 !important;
}

input:focus::placeholder,
textarea:focus::placeholder {
    font-size: 10px;
    /* Размер шрифта */
    transform: translateY(-12px);
    /* Сдвигаем вверх */
}

input::placeholder, 
textarea::placeholder {
    transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
    text-overflow: ellipsis;
    opacity: 1 !important;
}


// :focus::-webkit-input-placeholder {
//     color: transparent;
// }

// :focus::-moz-placeholder {
//     color: transparent;
// }

// :focus:-moz-placeholder {
//     color: transparent;
// }

// :focus:-ms-input-placeholder {
//     color: transparent;
// }

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}


/* don't show the x for text inputs */

::-ms-clear {
    width: 0;
    height: 0;
}


/* don't show the eye for password inputs */

::-ms-reveal {
    width: 0;
    height: 0;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}

// input::-webkit-contacts-auto-fill-button,
// input::-webkit-credentials-auto-fill-button {
//     visibility: hidden;
//     pointer-events: none;
//     position: absolute;
//     right: 0;
// }