/**
 *  бордюры
 */

.h-brd {

    border-color: @color-green;

    &--grey-color {
        border-color: @color-grey-x-light;
    }

    &--bottom {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    &--right {
        border-right-style: solid;
        border-right-width: 1px;
    }

    &--left {
        border-left-style: solid;
        border-left-width: 1px;
    }

    &--top {
        border-top-style: solid;
        border-top-width: 1px;
    }

    &--all {
        border-width: 1px;
        border-style: solid
    }

    &--none {
        border: none !important;
    }

}