/*** 

 */

.btn {

    margin: 0;
    width: auto;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
    background: @color-green;
    font-family: inherit;
    line-height: 1;
    border: none;
    text-decoration: none;
    white-space: nowrap;
    height: 54px;
    padding: 0 38px;
    border-radius: 54px;
    text-align: center;
    display: inline-block;
    transition: color @g-trans-duration ease-in-out, background-color @g-trans-duration ease-in-out;
    .px2rem(@g-f-size--med);

    &--huge {

        border-radius: 54px;
        height: 54px;

        @media(min-width: @lg) {
            border-radius: 64px;
            height: 64px;
        }
    }

    &--w100 {
        width: 100%;
    }

    &__text {

        position: relative;
        display: inline-block;
        vertical-align: middle;

        &::after {

            vertical-align: middle;
            content: '';
            display: inline-block;
            margin-left: 14px;
            width: 15px;
            height: 15px;
            background: url('~img/svg/arrow-point-to-right.svg') 0 0 no-repeat;
            background-size: 15px 15px;
            transition: transform @g-trans-duration ease-in-out;

            .btn--white & {
                background: url('~img/svg/arrow-point-to-right--dark.svg') 0 0 no-repeat;
                background-size: 14px 14px;
            }

        }

    }

    &__download {

        position: relative;
        display: inline-block;
        vertical-align: middle;

        &::before {
            vertical-align: middle;
            content: '';
            display: inline-block;
            margin-right: 14px;
            width: 23px;
            height: 23px;
            background: url('~img/svg/down-arrow.svg') 0 0 no-repeat;
            background-size: 23px 23px;
            transition: transform @g-trans-duration ease-in-out;
            position: relative;
            top: -2px;
        }

    }



    &:hover,
    &:active:focus {

        background: @color-green--light;

        .btn__text {

            &::after {
                transform: translateX(3px);
            }

        }

    }

    &--white {

        padding: 0 34px;
        background: #fff;
        color: @color-grey--lighten;

        &:hover,
        &:active:focus {
            background: darken(#fff, 2%);
        }

    }

    &--small-lr-indent {
        padding-left: 25px;
        padding-right: 25px;
    }

}