/*** 
    отзывы
 */

.reviews {

    position: relative;
    width: @c-review-start-width;
    max-width: 100%;
    margin: 0 auto;

    &__inner {

        position: relative;
        text-align: center;

        img {
            width: 170px;
            height: 170px;
            display: inline-block;
            vertical-align: top;
        }

    }

    &__item {

        img {
            border-radius: 50%;
        }

    }

    &__first-item,
    &__last-item {

        display: none;
        position: absolute;
        top: 30px;
        width: 110px;
        height: 110px;
        border-radius: 50%;

        @media(min-width: @md) {
            display: block;
        }

    }

    &__first-item {
        left: 0;
    }

    &__last-item {
        right: 0;
    }

    &__description {
        @media(min-width: @md) {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    &__author {}

    &__job-profile {
        .px2rem(@g-f-size-x--med);
    }

    /*@TODO -- контролы брать из .slider-controls блока
    */

    &__controls {

        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 2;

        @media(min-width: @md) {
            left: 170px;
            right: 170px;
        }

    }

    &__controls-prev,
    &__controls-next {

        cursor: pointer;
        position: absolute;
        top: 0;
        width: 35px;
        height: 35px;
        transition: transform @g-trans-duration ease-in-out;

        svg {
            width: 35px;
            height: 35px;
        }

    }

    &__controls-prev {

        left: 0;
        transform: rotate(-180deg);

        &:hover {
            transform: rotate(-180deg) translateX(3px);
        }
    }

    &__controls-next {

        right: 0;

        &:hover {
            transform: translateX(3px);
        }

    }

}