/*** 
    helper для манипуляции текстом
 */

.h-text {

    // weight

    &--bold {
        font-weight: bold;
    }

    &--bolder {
        font-weight: 500;
    }

    &--normal {
        font-weight: 400;
    }

    &--light { 
        font-weight: 300;
    }    

    // size

    &--size-med {
        .px2rem(@g-f-size--med);
    }

    &--size-x-med {
        .px2rem(@g-f-size-x--med);
    }

    &--size-xx--med {
        .px2rem(@g-f-size-xx--med);
    }    

    &--size-huge {

        .px2rem(@g-f-size-xxx--med);

        @media(min-width: @lg) {
            .px2rem(@g-f-size-huge);
        }

    }

    // upper lower

    &--upper {
        text-transform: uppercase;
    }

    &--lower {
        text-transform: lowercase;
    }

    &--capt {
        text-transform: capitalize;
    }

    &--none {
        text-transform: none;
    }

    // 

    &--line-def {
        line-height: 1.15
    }

    &--line-normal {
        line-height: @g-line-height;
    }

    &--line-x-small {
        line-height: 1.20
    }

    &--line-small {
        line-height: 1.36;
    }

    &--line-med {
        line-height: 1.45;
    }

    &--line-x-med {
        line-height: 1.6;
    }

    &--line-huge {
        line-height: 1.75;
    }

    &--line-x-huge {
        line-height: 1.9;
    }


    /* 
        color
    */

    &--color-grey--x-dark {
        color: @color-grey--x-dark;
    }

    &--color-black {
        color: #000;
    }

    &--color-grey-lighten {
        color: @color-grey--lighten;
    }

    &--color-grey--light {
        color: @color-grey--light;
    }

}