/*** 

 */


@keyframes slideDown {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0);
    }
}

.animated.slideDown {
    animation-name: slideDown;
}

@keyframes slideUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.animated.slideUp {

    @media(min-width: @lg) {

        animation-name: slideUp;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 10;
        box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .05);
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

.animated {
    @media(min-width: @lg) {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        will-change: transform;
    }
}


// .headroom {
//     transform: .25s ease-in-out;
//     will-change: transform;
//     .blue();
// }