/*** 
    фото для разных разделов сайта
 */

.section-photo {

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    &--small {
        min-height: 250px;
    }

    &__inner {
        position: relative;
        z-index: 2;        
    }

    &--medium {

        min-height: 200px;

        @media(min-width: @sm) {
            min-height: 270px;
        }

    }

    &--big {

        min-height: 300px;

        @media(min-width: @lg) {
            min-height: 450px;
        }
        
    }

    &--fixed {
        background-attachment: fixed;        
    }

    &--with-dark-bg {

        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: .42;
            background: #000;
            z-index: 0;
        }

    }

    h1 {

        .px2rem(20px);

        br {
            display: none;
        }

        @media(min-width: @lg) {

            .px2rem(30px);

            br {
                display: block;
            }
            
        }
    }

}