/*** 

 */

.popup-window {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: fade(#212121, 70%);
    z-index: 9998;
    display: none;

    // opacity: 0;
    // transition: all 1s;

    &.is-active {
        display: block;
        // opacity: 1;
    }

    &__content {

        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 300px;
        max-height: 98%;
        width: 460px;
        max-width: 98%;
        transform: translate3d(-50%, -50%, 0);
        background: #fff;
        overflow: auto;

        &--write-on-lesson {

            @media(min-width: @lg) and (min-height: 600px) {

                width: 920px;
                padding-right: 920px - 460px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 920px - 460px;
                    background: #fff url('~img/popup_img1.jpg') 100% 0 no-repeat;
                    background-size: cover;
                }

            }

        }

    }

    &__content-inner {
        position: relative;
    }

    &__close {

        position: absolute;
        width: 29px;
        height: 26px;
        cursor: pointer;
        z-index: 9999;
        right: 10px;
        top: 15px;

        &:hover {

            &::before,
            &::after {
                background: @color-green;
            }
            
        }

        &::before,
        &::after {

            top: 10px;
            position: absolute;
            content: "";
            display: block;
            width: 30px;
            height: 3px;
            transition: background-color @g-trans-duration;
            background: #a9bac3;

        }

        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(45deg);
        }

    }

    &__logo {
        border-radius: 100%
    }


}