/**
 *  вспомогательный блок по сетке
 *  для ОТСУТСТВИЯ видимости элемента
 *  sm,lg etc c высоким приоритетом
 */

.d-none-i {
    .gen-media-grid-rules({
        display: none !important;
    });    
}