/*** 

 */ 

.list {

    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item {

        position: relative;

        .list--round-typed & {

            padding-left: 30px;
            line-height: 1.45;
            margin-bottom: 24px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 1.45 / 4em;
                border-radius: 100%;
                background: @color-green;
                width: 10px;
                height: 10px
            }

        }

    }
    

}